/************************************
=coffee
************************************/
#b2b #coffee .box-img
{
    max-width: 150px;
}
/************************************
=services
************************************/
#b2b #services .box img
{
    max-width: 120px;
}
#b2b #services .box ul li
{
    list-style: disc;
    padding-left: 10px;
    padding-bottom: 10px;
}
/************************************
=contact us
************************************/
#b2b #contact-us .img-full
{
    margin: 20px auto;
}
#b2b #contact-us a
{
    color: inherit;
}
/************************************
=modal
************************************/
#b2b .modal-img
{
    margin: 20px auto 0;
}
/************************************
=media
************************************/
/************************************
=xlarge
************************************/
@media (min-width: 1200px) 
{

}
/************************************
=medium
************************************/
@media (max-width: 1199px)
{
    #b2b #services .box
    {
        padding: 10px;
    }
    #b2b #services .box .heading
    {
        font-size: 18px;
    }
}
/************************************
=small
************************************/
@media (max-width: 991px)
{
    #b2b #coffee .post-panel .post-description
    {
        margin-left: 15px;
        margin-right: auto;
    }
}
/************************************
=xsmall
************************************/
@media (max-width: 767px)
{
}

@media (min-width: 767px)
{
    #b2b .navbar-fixed {
        top: 0;
        z-index: 100;
        position: fixed;
        background: #000;
    }

    #b2b .navbar-fixed ul {
        
    }
}
/************************************
=xxsmall
************************************/
@media (max-width: 468px)
{

}

