/************************************
=scroll
************************************/
.scroll-up
{
    position: fixed;
    right: 20px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
    background: #000;
    border: 2px solid #f6c452;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    color: #f6c452;
    z-index: 5000;

    -webkit-transition: background linear .3s;
    transition: background linear .3s;
}
.scroll-up:hover
{
    background: #333;
}
/************************************
=media
************************************/
/************************************
=xlarge
************************************/
@media (min-width: 1200px) 
{

}
/************************************
=medium
************************************/
@media (max-width: 1199px)
{

}
/************************************
=small
************************************/
@media (max-width: 991px)
{

}
/************************************
=xsmall
************************************/
@media (max-width: 767px)
{
    .scroll-up {
        right: 10px;
        bottom: 100px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 16px;
    }
}
/************************************
=xxsmall
************************************/
@media (max-width: 468px)
{
}