
.vue.v_coffeePlp .vue_introduction:before {
 background-image:linear-gradient(180deg,rgba(0,0,0,.7) 0,rgba(0,0,0,.55) 25%);
 background-color:transparent
}
.vue.v_coffeePlp .vue_introduction .v_sectionRestrict .v_sectionContent {
 padding-bottom:6em
}
.vue.v_coffeePlp .vue_introduction article .v_articleContent {
 vertical-align:top
}
.vue.v_coffeePlp .vue_introduction h2 {
 margin-top:.75em
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab {
 font-size:1em;
 line-height:1.71429em;
 letter-spacing:.10714em;
 margin:0 0 1.28571em
}
.vue .vue_filters .v_sectionRestrict .v_sectionContent {
 height:auto;
 padding:2.38095em 0 1.63095em
}
.vue .vue_filters .v_sectionTabs>ul {
 display:table;
 table-layout:fixed;
 height:6em;
 width:100%;
 position:absolute;
 top:0;
 left:0;
 -webkit-transform:translateY(-100%);
 transform:translateY(-100%)
}
.vue .vue_filters .v_sectionTabs>ul li {
 height:100%;
 display:table-cell;
 vertical-align:top;
 position:relative;
 border-right:1px solid #000
}
.vue .vue_filters .v_sectionTabs>ul li:last-child {
 border:0
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab {
 font-weight:400;
 display:table;
 width:100%;
 height:100%;
 margin:0;
 cursor:pointer
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink {
 transition:.25s;
 display:table-cell;
 vertical-align:middle;
 text-decoration:none;
 color:rgba(0,0,0,.8);
 background-color:#f1f1f1;
 text-align:center;
 height:100%;
 padding:0 1em
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink strong {
 text-transform:uppercase;
 display:block;
 font-size:1.25em;
 font-weight:400
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink:after {
 content:"";
 position:absolute;
 bottom:0;
 left:50%;
 -webkit-transform:translate(-50%,100%);
 transform:translate(-50%,100%);
 border-style:solid;
 border-width:.75em .75em 0;
 border-color:transparent;
 transition:.25s
}
.vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink:hover {
 background-color:#b07d3a;
 color:#fff
}
.v_keyTab .vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink:focus {
 background-color:#e1f0f4;
 color:#4298ad
}
.vue .vue_filters .v_sectionTabs>ul li.v-link-active .v_tab .v_tabLink {
 background-color:#b07d3a !important;
 color:#fff!important
}
.vue .vue_filters .v_sectionTabs>ul li.v-link-active .v_tab .v_tabLink:after {
 border-color:#b07d3a transparent transparent
}
.v_keyTab .vue .vue_filters .v_sectionTabs>ul li.v-link-active .v_tab .v_tabLink:focus {
 background-color:#4298ad;
 color:#fff
}
.v_keyTab .vue .vue_filters .v_sectionTabs>ul li.v-link-active .v_tab .v_tabLink:focus:after {
 border-color:#4298ad transparent transparent
}
.mobile .vue .vue_filters .v_sectionRestrict .v_sectionContent {
 padding:1.78571em 0
}
.mobile .vue .vue_filters .v_sectionTabs>ul {
 margin-left:-1.42857em;
 height:5em;
 width:100vw;
 left:auto
}
.mobile .vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink {
 background-color:hsla(0,0%,95%,.5);
 line-height:1.2
}
.mobile .vue .vue_filters .v_sectionTabs>ul li .v_tab .v_tabLink strong {
 font-size:1em
}
.vue .vue_filters {
 overflow:visible
}
.vue .vue_filters .v_sectionRestrict {
 z-index:2
}
.vue .vue_filters .v_sectionTabs .v_filters {
 display:table;
 width:100%
}
.vue .vue_filters .v_sectionTabs .v_filters .v_tableCell {
 width:100%;
 display:table-cell
}
.vue .vue_filters .v_sectionTabs .v_filters .v_more {
 position:relative;
 height:2.5em;
 color:#666;
 border:1px solid #ccc;
 border-radius:3px;
 text-align:center;
 margin-top:0;
 width:100%
}
.vue .vue_filters .v_sectionTabs .v_filters .v_more:before {
 content:"\E908";
 font-family:Nespresso Icons;
 position:absolute;
 left:.25em;
 top:50%;
 font-size:1.75em;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%)
}
.vue .vue_filters .v_sectionTabs .v_filters .v_more.v_open:before {
 content:"\E905"
}
.vue .vue_filters .v_sectionTabs .v_filters .v_more:hover {
 border-color:#b07d3a;
 color:#b07d3a
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filters .v_more:focus {
 border-color:#4298ad;
 color:#4298ad
}
.vue .vue_filters .v_sectionTabs .v_filters .v_reset {
 position:relative;
 width:100%;
 height:2.5em;
 border-radius:3px;
 text-align:center;
 white-space:nowrap;
 color:#666;
 opacity:0;
 visibility:hidden;
 max-width:0;
 overflow:hidden
}
.vue .vue_filters .v_sectionTabs .v_filters .v_reset:before {
 content:"\E91E";
 font-family:Nespresso Icons;
 position:absolute;
 left:.5em;
 top:50%;
 font-size:1.25em;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%)
}
.vue .vue_filters .v_sectionTabs .v_filters .v_reset:hover {
 color:#b07d3a
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filters .v_reset:focus {
 color:#4298ad
}
.vue .vue_filters .v_sectionTabs .v_hasFilters .v_tableCell+.v_tableCell {
 padding-left:1em
}
.vue .vue_filters .v_sectionTabs .v_hasFilters .v_tableCell+.v_tableCell .v_reset {
 opacity:1;
 visibility:visible;
 max-width:100%;
 border:1px solid #ccc;
 padding:0 .83333em 0 2.5em
}
.vue .vue_filters .v_sectionTabs .v_filterDetails {
 width:100%;
 margin-top:1em;
 overflow:hidden;
 max-height:0;
 opacity:0;
 visibility:hidden;
 text-align:left;
 transition:.25s
}
.vue .vue_filters .v_sectionTabs .v_filterDetails.v_opened {
 opacity:1;
 max-height:10em;
 visibility:visible
}
.vue .vue_filters .v_sectionTabs .v_filterDetails>div {
 display:inline-block;
 margin-bottom:.75em
}
.vue .vue_filters .v_sectionTabs .v_filterDetails>div .v_filterAlign {
 text-align:left;
 padding-right:2.5em
}
.vue .vue_filters .v_sectionTabs .v_filterDetails>div:last-child .v_filterAlign {
 padding-right:0
}
.vue .vue_filters .v_sectionTabs .v_filterDetails button,.vue .vue_filters .v_sectionTabs .v_filterDetails li,.vue .vue_filters .v_sectionTabs .v_filterDetails ul {
 display:inline-block;
 vertical-align:middle;
 color:#666
}
.vue .vue_filters .v_sectionTabs .v_filterDetails strong {
 display:block;
 font-weight:400;
 margin-bottom:.5em;
 color:#666
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li {
 margin-right:.28571em
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li:last-child {
 margin-right:0
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li label {
 display:block;
 height:2.5em;
 min-width:2.5em;
 padding:0 .625em;
 line-height:2.5em;
 text-align:center;
 box-shadow:inset 0 0 0 1px #ccc;
 border-radius:3px;
 box-sizing:border-box
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li label:hover {
 color:#b07d3a;
 box-shadow:inset 0 0 0 1px #b07d3a
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails ul li input:focus+label {
 color:#4298ad;
 box-shadow:inset 0 0 0 1px #4298ad
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li input:disabled+label {
 opacity:.33;
 background-color:#ccc;
 pointer-events:none
}
.vue .vue_filters .v_sectionTabs .v_filterDetails ul li input:checked+label {
 background-color:#b07d3a;
 color:#fff;
 box-shadow:none
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails ul li input:checked:focus+label {
 background-color:#4298ad;
 color:#fff
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes,.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterIntensity {
 text-align:center
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label {
 position:relative
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label:before {
 position:absolute;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 font-size:2.25em;
 font-family:Nespresso Icons;
 -webkit-transform:translate(-52.5%,-55%);
 transform:translate(-52.5%,-55%)
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label[for=cupSize_ristretto]:before {
 content:"\E91F"
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label[for=cupSize_espresso]:before {
 content:"\E920"
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label[for=cupSize_lungo] {
 padding:0 1em
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label[for=cupSize_lungo]:before {
 content:"\E921"
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterCupsizes label[for=cupSize_americano]:before {
 content:"\E922"
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange {
 text-align:right;
 position:relative
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select {
 color:#666;
 height:2.5em;
 line-height:2.5em;
 padding:0 2.5em 0 .75em;
 border-radius:3px;
 border:1px solid #ccc;
 background-color:transparent;
 position:relative;
 width:100%
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select:hover {
 color:#b07d3a;
 border-color:#b07d3a
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select:hover+.v_iconRanges {
 color:#b07d3a
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select:focus {
 color:#4298ad;
 border-color:#4298ad
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select:focus+.v_iconRanges {
 color:#4298ad
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select.v_selected {
 background-color:#b07d3a;
 border-color:transparent;
 color:#fff
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select.v_selected+.v_iconRanges {
 color:#fff
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select.v_selected:focus {
 background-color:#4298ad;
 color:#fff
}
.v_keyTab .vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select.v_selected:focus+.v_iconRanges {
 color:#fff
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select option {
 padding:0 1em;
 color:#666;
 border-color:#666;
 border:none;
 height:20px;
 border-bottom:1px solid #ccc;
 background-color:#fff;
 box-shadow:inset 0 0 30px 30px #fff;
 transition:.25s
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select option:checked {
 box-shadow:inset 0 0 30px 30px #b07d3a;
 background-color:#b07d3a;
 color:#fff
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select option:disabled {
 color:#ccc
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange select option:disabled:hover {
 box-shadow:none
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange .v_iconRanges {
 position:absolute;
 right:0;
 bottom:0;
 width:2.5em;
 height:2.5em;
 color:#666;
 transition:.25s;
 -webkit-transform:translate(0);
 transform:translate(0);
 pointer-events:none
}
.vue .vue_filters .v_sectionTabs .v_filterDetails .v_filterRange .v_iconRanges:after {
 content:"\E901";
 font-family:Nespresso Icons;
 font-size:2em;
 position:absolute;
 right:0;
 top:50%;
 margin-right:.15em;
 -webkit-transform:translateY(-50%) rotate(90deg);
 transform:translateY(-50%) rotate(90deg)
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails {
 margin-top:0
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails.v_opened {
 max-height:20em
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails>div {
 display:block;
 margin:1em 0
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails>div:last-child {
 margin-bottom:0
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails>div .v_filterAlign {
 padding-right:0
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails strong,.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails ul li {
 margin-bottom:.28571em
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails ul li:nth-child(8) {
 margin-right:0
}
.mobile .vue .vue_filters .v_sectionTabs .v_filterDetails ul li label {
 height:2.5em;
 min-width:2.735em
}

.vue .vue_coffeeSelector {
 position:relative;
 top:-1px;
 padding-top:1px
}
.vue .vue_coffeeSelector .v_sectionRestrict .v_sectionContent {
 padding-top:0
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul {
 display:table;
 width:100%
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li {
 display:table-cell;
 border-right:.25em solid transparent;
 border-left:.25em solid transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li:first-child {
 border-left:0
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li:last-child {
 border-right:0
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li>.v_title {
 margin-bottom:1.5em;
 opacity:.5
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li .v_categories>li>a,.vue .vue_coffeeSelector .v_coffeeSelector>ul>li>a.v_title {
 opacity:.5
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li .v_categories>li>a:hover,.vue .vue_coffeeSelector .v_coffeeSelector>ul>li>a.v_title:hover {
 opacity:1
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul>li .v_categories>li>a:focus,.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul>li>a.v_title:focus {
 color:#4298ad
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul>li .v_categories>li>a:focus h3,.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul>li>a.v_title:focus h3 {
 border-color:#4298ad!important
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li h3 {
 font-size:.92857em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul>li .v_categories>li>a,.vue .vue_coffeeSelector .v_coffeeSelector>ul>li>a.v_title {
 color:rgba(0,0,0,.8);
 display:block;
 text-transform:uppercase;
 text-align:center
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li {
 display:block
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a {
 position:relative;
 color:rgba(0,0,0,.8);
 text-align:center;
 padding-bottom:5em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a:hover {
 opacity:1
}
.desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a:hover .v_caps {
 -webkit-transform:scale(1.1);
 transform:scale(1.1)
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a:focus {
 color:#4298ad;
 opacity:1
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a:focus .v_caps {
 -webkit-filter:sepia(100%) hue-rotate(145deg) saturate(300%);
 filter:sepia(100%) hue-rotate(145deg) saturate(300%)
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li>a:focus svg {
 fill:#4298ad
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_titleCoffee {
 font-size:.8em;
 display:block;
 position:absolute;
 left:50%;
 bottom:5.5em;
 -webkit-transform:translate(-50%,100%);
 transform:translate(-50%,100%)
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps {
 display:block;
 width:100%;
 height:7.14286em;
 margin:0 auto;
 position:relative;
 transition:.25s
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps .v_capsPlaceholder {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background-image:url(/wp-content/themes/storefront-child/images/coffee-origins/placeholder_capsule.a44bf76.png);
 background-size:100px 100px;
 background-position:50%;
 background-repeat:no-repeat;
 z-index:0;
 opacity:.25
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps img {
 width: 5em;
 height:7.14286em;
 position:absolute;
 display:block;
 height:auto;
 left:49%;
 -webkit-transform:translate(-50%);
 transform:translate(-50%);
 top: 16px;
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_intensity {
 font-size:.92857em;
 display:inline-block;
 width:1.5em;
 height:1.25em;
 line-height:1.25;
 margin:0 1.5em .5em;
 border:1px solid #626262;
 border-radius:2px;
 padding:.2em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees svg {
 fill:#b07d3a;
 height:2em;
 width:2em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul a.v-link-active,.vue .vue_coffeeSelector .v_coffeeSelector>ul a.v_active {
 opacity:1!important
}
.vue .vue_coffeeSelector .v_coffees>li>a {
 display:block
}
.vue .vue_coffeeSelector .v_coffees>li.v_shadowed {
 opacity:.5
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li h3 {
 padding:0 0 .5em;
 border-bottom:4px solid #666
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:first-child h3 {
 border-color:#e1cecd
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:first-child .v_categories>li>a::after {
 border-color:#e1cecd transparent transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(2) h3 {
 border-color:#baa699
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(2) .v_categories>li>a:after {
 border-color:#baa699 transparent transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(3) h3 {
 border-color:#af888e
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(3) .v_categories>li>a:after {
 border-color:#af888e transparent transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories {
 margin-left:-.25em!important;
 margin-right:-.25em!important;
 width:calc(100% + 2 * .25em)!important
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li {
 padding:0 .25em!important
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory {
 height:6em;
 position:relative;
 margin-bottom:2em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory span {
 display:block;
 max-width:7em;
 margin:0 auto;
 font-weight: normal;
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory:after {
 content:"";
 position:absolute;
 bottom:0;
 left:50%;
 -webkit-transform:translate(-50%,100%);
 transform:translate(-50%,100%);
 border-style:solid;
 border-width:.4em .4em 0;
 border-color:#666 transparent transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory svg {
 fill:#b07d3a;
 height:2.5em;
 width:2.5em
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory:focus span {
 color:#4298ad
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory:focus:after {
 border-color:#4298ad transparent transparent
}
.v_keyTab .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>.v_titleAromaticCategory:focus svg {
 fill:#4298ad
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories .v_titleAromaticNote {
 display:block;
 text-align:center;
 color:#1b1b1b;
 font-size:.8em;
 margin-top:.5em
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow {
 display:table;
 width:100%;
 height:2em;
 margin-bottom:1em
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow,.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow p {
 display:table-cell;
 position:relative;
 vertical-align:middle
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow {
 width:100%
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:after,.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:before {
 content:"";
 position:absolute;
 top:50%
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:before {
 left:0;
 width:calc(100% - .5em);
 height:4px;
 background:#b07d3a;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%)
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:after {
 right:0;
 border-style:solid;
 border-width:.5em 0 .5em .5em;
 border-color:transparent transparent transparent #b07d3a;
 -webkit-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow p {
 width:auto;
 color:#1b1b1b;
 text-align:right;
 white-space:nowrap;
 padding-left:1em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile) {
 table-layout:fixed
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li {
 text-align:center
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>.v_title {
 position:relative;
 display:inline-block;
 min-height:2.5em;
 min-width:2.5em;
 padding:.625em;
 line-height:1.2;
 text-align:center;
 box-shadow:inset 0 0 0 1px #999;
 border-radius:3px;
 box-sizing:border-box;
 margin-bottom:3em
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>.v_title:after {
 content:"";
 position:absolute;
 bottom:-1em;
 left:50%;
 -webkit-transform:translate(-50%,100%);
 transform:translate(-50%,100%);
 border-style:solid;
 border-width:.4em .4em 0;
 border-color:#666 transparent transparent
}
.vue .vue_coffeeSelector .v_coffeeSelector>ul.v_range>li>a {
 width:100%
}
@media screen and (max-width:996px) {
 .v_responsive:not(.mobile) .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_intensity {
  margin:0 .5em .5em
 }
 .v_responsive:not(.mobile) .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps {
  height:5.35714em
 }
 .v_responsive:not(.mobile) .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps .v_capsPlaceholder {
  background-size:75px 75px
 }
 .v_responsive:not(.mobile) .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_caps img {
  width:5.35714em;
  height:5.35714em
 }
}
.desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:hover,.tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:hover {
 color:#b07d3a;
 box-shadow:inset 0 0 0 1px #b07d3a
}
.desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:hover:after,.tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:hover:after {
 border-color:#b07d3a transparent transparent
}
.v_keyTab .desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:focus,.v_keyTab .tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:focus {
 color:#4298ad;
 box-shadow:inset 0 0 0 2px #4298ad
}
.v_keyTab .desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:focus:after,.v_keyTab .tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title:focus:after {
 border-color:#4298ad transparent transparent
}
.desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active,.tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active {
 background-color:#b07d3a;
 color:#fff;
 box-shadow:none;
 opacity:1
}
.desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active:after,.tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active:after {
 border-color:#b07d3a transparent transparent
}
.v_keyTab .desktop .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active:focus,.v_keyTab .tablet .vue .vue_coffeeSelector .v_coffeeSelector>ul:not(.v_aromaticProfile)>li>a.v_title.v_active:focus {
 background:#4298ad;
 color:#fff
}
.mobile .vue .vue_coffeeSelector .v_sectionRestrict .v_sectionContent {
 padding-top:0
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul li.v_hidable {
 display:block;
 width:auto;
 max-height:100vw;
 transition:.25s
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul li.v_empty {
 opacity:0;
 visibility:hidden;
 max-height:0
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul>li {
 border:0
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul>li>.v_title {
 display:block;
 box-shadow:none;
 text-align:left;
 font-size:1.2em;
 margin-bottom:0;
 padding:.75em 0 0;
 border-radius:0;
 min-height:0;
 margin-top:0;
 border-top:1px solid #999;
 font-size:1.28571em
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul>li>.v_title:after {
 display:none
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_mobileSlider {
 width:100vw;
 margin-left:-1.42857em;
 height:13em;
 overflow:hidden
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees {
 padding-bottom:1.5em;
 width:100vw;
 text-align:left;
 white-space:nowrap;
 overflow-x:scroll;
 overflow-y:hidden;
 -webkit-scroll-snap-type:mandatory;
 -ms-scroll-snap-type:mandatory;
 scroll-snap-type:mandatory;
 -webkit-scroll-snap-destination:0 28.6vw;
 -ms-scroll-snap-destination:0 28.6vw;
 scroll-snap-destination:0 28.6vw;
 -webkit-scroll-snap-points-x:repeat(28.6vw);
 -ms-scroll-snap-points-x:repeat(28.6vw);
 scroll-snap-points-x:repeat(28.6vw);
 -webkit-overflow-scrolling:touch
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li {
 display:inline-block;
 width:28.6vw
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li:last-child {
 margin-right:14.3vw
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees>li.v_shadowed {
 opacity:0;
 visibility:hidden;
 width:0
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees .v_titleCoffee {
 white-space:normal
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul a.v-link-active,.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul a.v_active {
 transition:.5s;
 -webkit-transform:scale(1.1);
 transform:scale(1.1)
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul a.v-link-active:after,.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul a.v_active:after {
 display:none
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li {
 display:block
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:first-child .v_categories>li {
 border-top:3px solid #e1cecd
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(2) .v_categories>li {
 border-top:3px solid #baa699
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile>li:nth-child(3) .v_categories>li {
 border-top:3px solid #af888e
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li {
 display:block;
 width:calc(100vw - 2.85714em)
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>div.v_titleAromaticCategory {
 margin-top:.75em;
 margin-bottom:0;
 height:auto
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>div.v_titleAromaticCategory>div {
 display:inline-block;
 vertical-align:top
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>div.v_titleAromaticCategory>div span {
 max-width:none
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>div.v_titleAromaticCategory:after {
 display:none
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories>li>div.v_titleAromaticCategory svg {
 width:9vw;
 height:9vw;
 display:inline-block;
 vertical-align:top;
 margin-top:.1em;
 margin-right:.4em
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories .v_titleAromaticProfil {
 margin-left:.07143em;
 color:#999
}
.mobile .vue .vue_coffeeSelector .v_coffeeSelector>ul.v_aromaticProfile .v_categories .v_titleAromaticNote {
 font-size:1.28571em;
 font-weight:700
}
.mobile.v_descriptionOpened .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees {
 -webkit-overflow-scrolling:auto
}
.mobile.v_descriptionOpened .vue .vue_coffeeSelector .v_coffeeSelector>ul .v_coffees li>a {
 pointer-events:none
}
@-webkit-keyframes lineEnter {
 0% {
  width:0
 }
 to {
  width:calc(100% - .5em)
 }
}
@keyframes lineEnter {
 0% {
  width:0
 }
 to {
  width:calc(100% - .5em)
 }
}
@-webkit-keyframes arrowEnter {
 0% {
  right:calc(100% - .5em)
 }
 to {
  right:0
 }
}
@keyframes arrowEnter {
 0% {
  right:calc(100% - .5em)
 }
 to {
  right:0
 }
}
@-webkit-keyframes fadein {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
@keyframes fadein {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:before {
 -webkit-animation:lineEnter 1s;
 animation:lineEnter 1s
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow .v_arrow:after {
 -webkit-animation:arrowEnter 1s;
 animation:arrowEnter 1s
}
.vue .vue_coffeeSelector .v_coffeeSelector .v_intensityArrow p {
 opacity:0;
 -webkit-animation:fadein 1s 1s forwards;
 animation:fadein 1s 1s forwards
}

.vue_accordion .v_title {
 font-size:1.14286em;
 line-height:1.5em;
 letter-spacing:.0625em;
 margin:0 0 1.125em
}
.vue_accordion ol,.vue_accordion ul {
 list-style:none;
 margin-bottom:2em
}
.vue_accordion .v_title {
 font-style:normal;
 font-weight:400;
 margin:.5em 0 1em;
 padding-left:2.25em;
 color:#fff;
 position:relative
}
.vue_accordion .v_title i {
 position:absolute;
 top:-1px;
 left:0;
 width:1.72857em;
 height:1.72857em;
 color:#b07d3a
}
.vue_accordion .v_title i:before {
 font-size:1.57143em;
 position:absolute;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 transition:.25s cubic-bezier(.8,0,.2,1)
}
.vue_accordion .v_title a {
 color:#b07d3a
}
.vue_accordion .v_title a:hover {
 color:#c79656;
 text-decoration:underline
}
.v_keyTab .vue_accordion .v_title a:focus {
 color:#4298ad;
 text-decoration:underline
}
.vue_accordion .v_wysiwyg {
 padding-left:2.57143em;
 margin:-1em 0 0
}
.vue_accordion .v_wysiwyg p {
 margin-bottom:1em
}
.vue_accordion .v_isCollapsable .v_title {
 cursor:pointer
}
.vue_accordion .v_isCollapsable .v_title:active,.vue_accordion .v_isCollapsable .v_title:active:before,.vue_accordion .v_isCollapsable .v_title:focus,.vue_accordion .v_isCollapsable .v_title:focus:before,.vue_accordion .v_isCollapsable .v_title:hover,.vue_accordion .v_isCollapsable .v_title:hover:before {
 color:#fff
}
.vue_accordion .v_isCollapsable .v_title i:before {
 -webkit-transform:translate(-50%,-50%) rotate3D(0,0,1,90deg)!important;
 transform:translate(-50%,-50%) rotate3D(0,0,1,90deg)!important
}
.v_keyTab .vue_accordion .v_isCollapsable .v_title:focus,.v_keyTab .vue_accordion .v_isCollapsable .v_title:focus i {
 color:#4298ad
}
.vue_accordion .v_isCollapsable .v_wysiwyg {
 overflow:hidden;
 opacity:0;
 visibility:hidden;
 max-height:0;
 margin:-.5em 0 0;
 transition:.5s cubic-bezier(.8,0,.2,1)
}
.vue_accordion .v_isCollapsable .v_title.v_open i:before {
 -webkit-transform:translate(-50%,-50%) rotate(45deg)!important;
 transform:translate(-50%,-50%) rotate(45deg)!important
}
.vue_accordion .v_isCollapsable .v_title.v_open+.v_wysiwyg {
 opacity:1;
 visibility:visible;
 max-height:85.71429em
}

.vue .vue_navigationBottom {
 background:#000
}
.vue .vue_navigationBottom .v_nav a {
 position:relative;
 display:block
}
.vue .vue_navigationBottom .v_nav a .v_thumb {
 width:5.71429em;
 height:5.71429em;
 border-radius:50%;
 background:#1b1b1b;
 background-size:cover;
 position:absolute;
 top:0
}
.vue .vue_navigationBottom .v_nav a .v_thumb:before {
 content:"";
 background:rgba(0,0,0,.5);
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 transition:.25s
}
.vue .vue_navigationBottom .v_nav a .v_thumb:after {
 content:"\E901";
 font-family:Nespresso Icons;
 font-size:3.5em;
 color:#fff;
 position:absolute;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.vue .vue_navigationBottom .v_nav a span {
 color:#b07d3a;
 line-height:5.71429em
}
.vue .vue_navigationBottom .v_nav li:first-child {
 text-align:left
}
.vue .vue_navigationBottom .v_nav li:first-child a {
 padding-left:6.71429em
}
.vue .vue_navigationBottom .v_nav li:first-child a .v_thumb {
 left:0
}
.vue .vue_navigationBottom .v_nav li:first-child a .v_thumb:after {
 -webkit-transform:translate(-50%,-50%) rotate(180deg);
 transform:translate(-50%,-50%) rotate(180deg)
}
.vue .vue_navigationBottom .v_nav li:last-child {
 text-align:right
}
.vue .vue_navigationBottom .v_nav li:last-child a {
 padding-right:6.71429em
}
.vue .vue_navigationBottom .v_nav li:last-child a .v_thumb {
 right:0
}
.vue .vue_navigationBottom .v_nav a:hover .v_thumb:before {
 opacity:.5
}
.vue .vue_navigationBottom .v_nav a:hover span {
 color:#fff
}
.v_keyTab .vue .vue_navigationBottom .v_nav a:focus {
 -webkit-filter:sepia(100%) hue-rotate(145deg) saturate(300%);
 filter:sepia(100%) hue-rotate(145deg) saturate(300%)
}
.vue .vue_photo {
 min-height:44.07143em;
 max-height:56.25vw;
 height:calc(30em + 15vw);
 overflow:hidden
}
.mobile .vue .vue_photo {
 min-height:0;
 max-height:none
}
.mobile .vue .vue_photo .bg_container .bg_full,.mobile .vue .vue_photo .bg_container .bg_placeholder {
 background-size:cover
}

.vue .vue_coffeeSelector .v_coffees li {
 transition:.5s
}
.vue .vue_coffeeSelector .v_coffees a:after {
 content:"";
 position:absolute;
 bottom:1em;
 left:50%;
 -webkit-transform:translate(-50%,100%);
 transform:translate(-50%,100%);
 border-style:solid;
 border-width:0 1em 1em;
 border-color:transparent;
 background:transparent;
 transition:.25s
}
.vue .vue_coffeeSelector .v_coffees a[aria-expanded=true]:after {
 border-color:transparent transparent #f1f1f1
}
.vue .vue_coffeeSelector .v_coffees a[aria-expanded=true]+.v_coffeeDescription .v_slider .v_overflow {
 opacity:1
}
.vue .vue_coffeeSelector .v_coffees a[aria-expanded=true]+.v_coffeeDescription .v_slider .v_sliderArrow {
 opacity:1;
 transition:1s 1s
}

.my-machines .machine-matrix.range .pic img {
margin-top: 6px;
max-height: 120px;
}
.my-machines .machine-matrix.range .pic img:nth-of-type(6) {
max-height: 100px;
} 

@media screen and (min-width:740px) {
	.vue [class*="v_row"] > :first-child:nth-last-child(3), .vue [class*="v_row"] > :first-child:nth-last-child(3) ~ * {
	width: 31%;
	}

	.vue [class*="v_row"] > :first-child:nth-last-child(5), .vue [class*="v_row"] > :first-child:nth-last-child(5) ~ * {
	    width: 19%;
	}

	.vue [class*="v_row"] > :first-child:nth-last-child(4), .vue [class*="v_row"] > :first-child:nth-last-child(4) ~ * {
	    width: 24%;
	}
	.vue [class*="v_row"] > :first-child:nth-last-child(4), .vue [class*="v_row"] > :first-child:nth-last-child(4) ~ * {
	    width: 23%;
	}
}

.v_titleAromaticCategory, .capsules_description, .v_btnCloseFixed{
	cursor:pointer;
}

#discover{
	letter-spacing: .08333em !important;
}
.vue .vue_tryCoffeeSelector {
 text-align:center
}
.vue .vue_tryCoffeeSelector h2 {
 text-align:center;
 width:80%;
 margin-left:auto;
 margin-right:auto
}
.vue .vue_tryCoffeeSelector .v_image {
 position:relative;
 width:10.71429em;
 height:10.71429em;
 margin:0 auto;
 background-size:contain;
 background-position:50%;
 background-repeat:no-repeat
}
.vue .vue_tryCoffeeSelector button {
 font-size:1.1em
}
.vue .v_gridList .v_gridItem a.v_link.v_iconLeft {
    display: unset;
}

@media screen and (max-width:740px) {
	.vue .vue_coffeeSelector .v_coffeeSelector > ul .v_coffees .v_caps img {
		width: 5.2em;
		left: 47%;
		top: 10px;
	}
	.v_titleAromaticCategory {
		margin-top: .75em;
		margin-bottom: 0;
		height: auto;
	}
	.vue .vue_coffeeSelector .v_coffeeSelector > ul.v_aromaticProfile .v_categories > li > .v_titleAromaticCategory svg {
		width: 9vw;
		height: 9vw;
		display: inline-block;
		vertical-align: top;
		margin-top: .1em;
		margin-left: -300px;
		margin-right: .4em;
	}
	.v_titleAromaticCategory {
		left: -95px !important;
	}
	#introduction{
		height: 670px !important;
	}
	.aromatic-h3 {
		padding-left: 25px !important;
	}
	.v_titleAromaticNote {
		margin-left: 130px !important;	
	}
	
}

.mobile-other, .bg-small {
    display: none;
}
.bg-xl {
    display: block;
}

@media screen and (max-width:740px) {
  .mobile-other, .bg-small {
    display: block;
  }
  .bg-xl {
    display: none;
  }
  .v_priceAndButton {
  	display: none;
  }
  .mobile-other {
    margin-top: 10px;
  }
  .mobile-add-to-cart button{
  	width: 100% !important;
  }
}


