/************************************
=header
************************************/
.menu-container
{
    text-align: center;
    background-color: #1b1b1b !important;
}
.menu-container > li
{
    display: inline-block;
    width: 11.9%;
    /* width: 13.97%; */
    float: none;
    background-color: #1b1b1b !important;
}
.sub-menu
{
    height: 240px;
    overflow: hidden;
}
.sub-menu > li > a
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.sub-menu > li > a .menu-image
{
    height: 120px;
}
.sub-menu > li > a .menu-image img
{
    display: block;
    height: 100%;
    max-height: 120px;
    margin: 10px auto 0;
}
.sub-menu > li > a .menu-description
{
    padding: 10px 15px;
    text-align: center;
}
.sub-menu > li > a .menu-description .menu-head__title
{
    display: block;
    width: 200px;
    margin: 0 auto 10px;
    line-height: 1.2;
    font-weight: bold;
    font-size: 13px;
}
.sub-menu > li > a .menu-description .menu-head__sub-title
{
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    font-size: 12px;
    color: #999;
}
.sub-menu > li.last-sub-menu > a
{
    overflow: hidden;
}
.sub-menu > li.last-sub-menu > a > img
{
    display: block;
    width: 100%;
    max-width: 230px;
    margin: auto;
    padding-left: 10px;
}
/* for old banner */
.machine-subnav {
    padding-top: 20px !important;
}
/************************************
=footer
************************************/
#footer .footer__list-table > li > h3
{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border: none;
    text-align: left;
    color: #fff;
}
#footer .footer__list-table > li > p
{
    margin-bottom: 0;
}
#footer .footer__list-table > li a
{
    position: relative;
    letter-spacing: 1px;
    color: #986F38;
}
#footer .footer__list-table > li a::before
{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #986F38;

    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);

    -webkit-transition: -webkit-transform .3s ease-in-out 0s;
    transition: transform .3s ease-in-out 0s;
}
#footer .footer__list-table > li a:hover::before
{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
#footer .footer__list-table > li a::after
{
    content: '';
    position: absolute;
    top: 4px;
    right: -10px;
    display: block;
    width: 6px;
    height: 6px;

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/************************************
=media
************************************/
/************************************
=xlarge
************************************/
@media (min-width: 1200px)
{

}
/************************************
=medium
************************************/
@media (max-width: 1199px)
{

}
/************************************
=small
************************************/
@media (max-width: 996px)
{
    .menu-container > li
    {
        width: 100%;
    }
    .menu-container li .menu-language__item
    {
        margin-top: 0;
        border-radius: 0;
    }
}
/************************************
=xsmall
************************************/
@media (max-width: 767px)
{

}
/************************************
=xxsmall
************************************/
@media (max-width: 468px)
{

}
