/*! permanent-pages - 1.0.0 | Tue Mar 23 2021 10:25:49 GMT+0100 (Central European Standard Time) */
.g section {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.g .g_section {
    background-color: #1b1b1b;
    overflow: hidden
}

.g .g_restrict {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 66.25em;
    padding: 0 2em;
    margin: 0 auto
}

.g .g_content {
    display: table-cell;
    vertical-align: middle;
    padding: 6.25em 0;
    height: 43.75em
}

.g .g_text {
    display: block;
    width: 100%
}

.g .g_text > :last-child {
    margin-bottom: 0 !important
}

.g .g_text > .g_btn {
    margin: 0 0 2em
}

.g .g_overflow {
    overflow: visible
}

.g .g_autoHeight .g_restrict .g_content {
    height: auto
}

@media screen and (max-width: 767px) {
    .g .g_restrict {
        padding: 0 1.25em;
        max-width: 31.25em
    }

    .g .g_content {
        padding: 5em 0;
        height: calc(178vw - 90px)
    }

    .g .g_mobileBottom .g_restrict {
        padding-top: calc(100vw - 5em)
    }

    .g .g_mobileBottom .g_content {
        height: auto
    }

    .g .g_mobileTop .g_restrict {
        padding-bottom: calc(100vw - 5em)
    }

    .g .g_mobileAutoHeight .g_restrict .g_content, .g .g_mobileTop .g_content {
        height: auto
    }
}

.g .g_light {
    background-color: #fff;
    color: #000
}

.g .g_dark {
    background: #000
}

.g .g_center {
    text-align: center
}

.g .g_center .g_btnBlock, .g .g_center .g_headline, .g .g_center .g_wysiwyg {
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width: 768px) {
    .g .g_center .g_text > .g_h1 {
        width: 70%
    }

    .g .g_center .g_text > .g_h2 {
        width: 66%
    }

    .g .g_center .g_text > .g_txt_XL {
        width: 85%
    }

    .g .g_center .g_text > .g_txt_L {
        width: 66%
    }

    .g .g_center .g_text > .g_txt_M {
        width: 61%
    }

    .g .g_center .g_text > .g_txt_S {
        width: 54%
    }

    .g .g_center .g_text > .g_txt_XS {
        width: 48%
    }

    .g .g_center .g_text > .g_headline {
        width: 70%
    }
}

@media screen and (min-width: 768px) {
    .g .g_bottom .g_content {
        height: auto;
        padding-top: 37.5em
    }
}

@media screen and (min-width: 2560px) {
    .g .g_bottom .g_restrict {
        padding-top: calc(10vw - 192px)
    }
}

@media screen and (max-width: 767px) {
    .g .g_bottom .g_restrict {
        padding-top: calc(100vw - 5em)
    }

    .g .g_bottom .g_content {
        height: auto
    }
}

@media screen and (min-width: 768px) {
    .g .g_left .g_text, .g .g_right .g_text {
        display: inline-block;
        vertical-align: top;
        width: 50%
    }

    .g .g_left .g_text {
        padding-right: 1em
    }

    .g .g_right .g_text {
        padding-left: 1em;
        margin-left: 50%
    }
}

.g_bg {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 120em auto
}

@media screen and (min-width: 2560px) {
    .g_bg {
        background-size: cover
    }
}

.g_bg.g_bgTop {
    background-position: top
}

.g_bg.g_bgBottom {
    background-position: bottom
}

.g_bottom .g_bg {
    background-position: top
}

@media screen and (min-width: 768px) {
    .g_bg.g_bgProduct {
        height: calc(100% + 12.5em);
        top: -12.5em;
        background-position: top
    }
}

@media screen and (max-width: 767px) {
    .g_bg {
        background-size: cover
    }

    .g_mobileTop .g_bg {
        background-size: 100% auto;
        background-position: bottom
    }

    .g_bottom .g_bg, .g_mobileBottom .g_bg {
        background-size: 100% auto;
        background-position: top
    }
}

@media screen and (min-width: 768px) {
    .g_sectionFaq .g_bg {
        background-position: top
    }
}

@media screen and (min-width: 768px) and (min-width: 2560px) {
    .g_sectionFaq .g_bg {
        background-size: 100% auto
    }
}

@media screen and (min-width: 768px) {
    .g .g_bg.g_parallax {
        height: 120%;
        margin-top: -4.375em
    }
}

.g .g_h1, .g .g_h1_nomargin {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1.33333;
    letter-spacing: .25em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center
}

@media screen and (max-width: 767px) {
    .g .g_h1, .g .g_h1_nomargin {
        font-size: 2em;
        line-height: 1.3125em;
        letter-spacing: .1875em;
        font-weight: 800
    }
}

.g .g_h2, .g .g_h2_nomargin {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-size: 2.25em;
    line-height: 1.33333;
    letter-spacing: .22222em;
    font-weight: 300;
    text-transform: uppercase
}

.g .g_h2 strong, .g .g_h2_nomargin strong {
    font-weight: 500
}

@media screen and (max-width: 767px) {
    .g .g_h2, .g .g_h2_nomargin {
        font-size: 1.875em;
        line-height: 1.33333em;
        letter-spacing: .2em
    }
}

.g .g_h3, .g .g_h3_nomargin {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.33333;
    letter-spacing: .16667em;
    font-weight: 800;
    text-transform: uppercase
}

.g .g_h4, .g .g_h4_nomargin {
    font-size: 1em;
    letter-spacing: .125em
}

.g .g_h4, .g .g_h4_nomargin, .g .g_h5, .g .g_h5_nomargin {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase
}

.g .g_h5, .g .g_h5_nomargin {
    font-size: .875em;
    letter-spacing: .07143em
}

.g .g_headline {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .125em;
    font-weight: 800;
    text-transform: uppercase
}

.g [class*=g_h] {
    margin: 0 auto
}

.g .g_h1:not(:last-child) {
    margin-bottom: .33333em
}

@media screen and (max-width: 767px) {
    .g .g_h1:not(:last-child) {
        margin-bottom: 1em
    }
}

.g .g_h2:not(:last-child) {
    margin-bottom: 1.11111em
}

@media screen and (max-width: 767px) {
    .g .g_h2:not(:last-child) {
        margin-bottom: 1em
    }
}

.g .g_h3, .g .g_h4, .g .g_h5 {
    margin-bottom: 1em
}

.g .g_headline {
    margin: 0 0 1em
}

.g .g_link {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .0625em;
    font-weight: 400
}

.g .g_link a, .g .g_link strong {
    font-weight: 600
}

.g .g_btn, .g .g_link {
    position: relative;
    text-decoration: none;
    margin: 0
}

.g .g_link {
    font-weight: 600 !important;
    color: #8f7247;
    display: inline-block;
    margin-bottom: 1.5em
}

.g .g_link, .g .g_link span {
    text-decoration-skip-ink: auto
}

.g .g_link span {
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_link i {
    display: inline;
    position: relative;
    top: 2px
}

html:not(.g_isTouch) .g .g_link:hover span {
    text-decoration: underline
}

.g_keyTab .g .g_link:focus {
    color: #4298ad
}

.g_keyTab .g .g_link:focus span {
    text-decoration: underline
}

.g .g_link.g_txt_XL {
    font-size: 1.5em;
    margin-bottom: 1.33333em
}

.g .g_link.g_txt_L {
    font-size: 1.125em;
    margin-bottom: 1.44444em
}

.g .g_link.g_txt_S {
    font-size: .875em;
    margin-bottom: 1.5em
}

.g .g_link.g_txt_XS {
    font-size: .75em;
    margin-bottom: 1.5em
}

.g .g_dark svg.g_visual rect {
    stroke: #fff
}

.g .g_dark svg.g_visual path {
    fill: #fff
}

.g .g_playVideo svg {
    display: inline-block;
    vertical-align: sub;
    margin-left: pxToEm(4)
}

.g .g_imgSrc {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s
}

.g .g_imgSrc_loaded {
    opacity: 1
}

.g .g_txt_XL {
    font-size: 1.5em;
    line-height: 1.33333;
    letter-spacing: .08333em;
    font-weight: 300
}

.g .g_txt_XL a, .g .g_txt_XL strong {
    font-weight: 500
}

.g .g_txt_L {
    font-size: 1.125em;
    line-height: 1.44444;
    letter-spacing: .05556em;
    font-weight: 300
}

.g .g_txt_L a, .g .g_txt_L strong {
    font-weight: 500
}

.g .g_txt_M {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .0625em;
    font-weight: 400
}

.g .g_txt_M a, .g .g_txt_M strong {
    font-weight: 600
}

.g .g_txt_S {
    font-size: .875em;
    line-height: 1.5;
    letter-spacing: .07143em;
    font-weight: 400
}

.g .g_txt_S a, .g .g_txt_S strong {
    font-weight: 600
}

.g .g_txt_XS {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-size: .75em;
    line-height: 1.5;
    letter-spacing: .08333em;
    font-weight: 400
}

.g .g_txt_XS a, .g .g_txt_XS strong {
    font-weight: 600
}

.g .g_wysiwyg a {
    font-weight: 600 !important;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    margin: 0;
    color: #8f7247
}

.g .g_txt_XL ol, .g .g_txt_XL p, .g .g_txt_XL ul {
    margin-bottom: .88889em
}

.g .g_txt_L ol, .g .g_txt_L p, .g .g_txt_L ul {
    margin-bottom: 1.28395em
}

.g .g_txt_M ol, .g .g_txt_M p, .g .g_txt_M ul {
    margin-bottom: 1.5em
}

.g .g_txt_S ol, .g .g_txt_S p, .g .g_txt_S ul {
    margin-bottom: 1.71429em
}

.g .g_txt_XS ol, .g .g_txt_XS p, .g .g_txt_XS ul {
    margin-bottom: 2em
}

.g .g_wysiwyg > :last-child {
    margin: 0
}

.g .g_wysiwyg ol li, .g .g_wysiwyg ul li {
    text-align: left;
    margin: 0 0 .25em 1.25em;
    padding-left: .25em
}

.g .g_wysiwyg ul {
    list-style: disc
}

.g .g_wysiwyg ol {
    list-style: decimal
}

.g .g_wysiwyg ol li {
    padding-left: 0;
    margin: 0 0 .25em 1.5em
}

.g .g_text > .g_wysiwyg.g_txt_XL {
    margin-bottom: 1.33333em
}

.g .g_text > .g_wysiwyg.g_txt_L {
    margin-bottom: 1.44444em
}

.g .g_text > .g_wysiwyg.g_txt_M, .g .g_text > .g_wysiwyg.g_txt_S, .g .g_text > .g_wysiwyg.g_txt_XS, .g .g_text > div {
    margin-bottom: 1.5em
}

html:not(.g_isTouch) .g .g_wysiwyg a:hover {
    text-decoration: underline
}

.g_keyTab .g .g_wysiwyg a:focus {
    color: #4298ad;
    text-decoration: underline
}

.g .g_hero {
    text-align: center
}

.g .g_hero .g_bg {
    background-size: cover
}

@media screen and (min-width: 768px) {
    .g .g_hero .g_content {
        padding-top: 10em !important
    }
}

@media screen and (max-width: 767px) {
    .g .g_hero .g_content {
        height: 125vw;
        vertical-align: middle;
        padding-top: calc(5em + 50px) !important;
        padding-bottom: 5em
    }

    .g .g_hero.g_mobileBottom .g_bg {
        /*background-size: 100% auto;*/
        background-position: top
    }

    .g .g_hero.g_mobileBottom .g_restrict {
        padding-top: 23.4375em !important
    }

    .g .g_hero.g_mobileBottom .g_content {
        padding-top: 0 !important;
        height: auto
    }
}

.g .g_popin.g_popinVideo .g_popinRestrict {
    width: 100%;
    min-height: 100%;
    background-color: #000;
    overflow: hidden
}

.g .g_popin.g_popinVideo .g_btnClose {
    background-color: #4e4e4e
}

@media screen and (min-width: 768px) {
    .g .g_popin.g_popinVideo .g_btnClose {
        top: 3.75em
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin.g_popinVideo .g_popinContent {
        height: 100vh
    }
}

.g [class*=g_btnRound] {
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    background: transparent;
    color: hsla(0, 0%, 100%, .8)
}

.g [class*=g_btnRound] i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.g [class*=g_btnRound] i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

html:not(.g_isTouch) .g [class*=g_btnRound]:hover {
    color: #fff
}

.g_keyTab .g [class*=g_btnRound]:focus {
    color: #4298ad !important
}

.g .g_btnRound {
    opacity: .75;
    color: #fff;
    text-shadow: 0 0 .3125em rgba(0, 0, 0, .5)
}

html:not(.g_isTouch) .g .g_btnRound:hover {
    opacity: 1
}

.g_keyTab .g .g_btnRound:focus {
    text-shadow: 0 0 .3125em hsla(0, 0%, 100%, .5)
}

.g .g_btnRoundS {
    width: 3.125em;
    height: 3.125em
}

.g .g_btnRoundS i:before {
    font-size: 2.5em
}

.g .g_popin {
    position: fixed;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2002;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    color: #000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .25s .5s;
    transition: .25s .5s
}

.g .g_popin.g_popinOpened {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_popin.g_popinOpened .g_popinRestrict {
    opacity: 1;
    visibility: visible;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .5s .25s;
    transition: .5s .25s
}

.g .g_popin .g_popinOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 0
}

.g .g_popin .g_btnClose {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: #757575;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 0;
    z-index: 13
}

.g .g_popin .g_btnClose:hover {
    background: #f9f9f9;
    color: #000
}

.g_keyTab .g .g_popin .g_btnClose:focus {
    background: #4298ad;
    color: #fff !important
}

.g .g_popin .g_popinFixed, .g .g_popin .g_popinFixed:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_popin .g_popinFixed:after {
    content: "";
    background: #000;
    opacity: 0
}

.g .g_popin .g_popinRestrict {
    z-index: 1;
    position: absolute;
    background: #757575;
    opacity: 0;
    visibility: hidden;
    -ms-transform: translate(-50%, -50%) scale(.9);
    -webkit-transform: translate(-50%, -50%) scale(.9);
    transform: translate(-50%, -50%) scale(.9);
    -webkit-transition: .5s;
    transition: .5s
}

.g .g_popin .g_popinRestrict .g_popinContent {
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_popin .g_addToCart {
    min-height: 0
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_popinRestrict {
        -webkit-box-shadow: 0 0 1.25em rgba(0, 0, 0, .8);
        box-shadow: 0 0 1.25em rgba(0, 0, 0, .8);
        width: calc(85% - 50vw + 50vh);
        top: 50%;
        left: 50%;
        min-width: 62.25em;
        height: 85vh;
        max-height: calc(23.33345vw + 33.3335vh)
    }

    .g .g_popin .g_popinRestrict .g_popinContent {
        display: table;
        width: calc(100% + 1px);
        height: 100%;
        table-layout: fixed
    }
}

.g_isTouch .g .g_popin .g_btnClose {
    top: 4em
}

.g_isTouch .g .g_popin .g_popinRestrict {
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
    max-height: none
}

.g_isTouch .g .g_popin.g_popinOpened .g_popinRestrict {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_popinFixed {
        overflow-y: scroll
    }

    .g .g_popin .g_btnClose {
        top: 1.5em !important;
        width: 3em;
        height: 3em;
        background-color: #000;
        -ms-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }

    .g .g_popin .g_popinRestrict {
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    .g .g_popin.g_popinOpened .g_popinRestrict {
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }

    .QSOpened .g .g_popin .g_btnClose {
        opacity: 0;
        visibility: hidden
    }
}

.g [class*=g_btnRound] span {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_table {
        display: table;
        height: 100%;
        width: 100%
    }

    .g .g_popin .g_tableRow {
        display: table-row
    }

    .g .g_popin .g_tableCell {
        display: table-cell;
        position: relative
    }
}

.g .g_backgroundVideo .g_placeholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0
}

.g .g_backgroundVideo .g_placeholder .g_embedVideo {
    position: relative;
    margin: 0;
    height: 100%
}

.g .g_backgroundVideo .g_placeholder .g_embedVideo .g_embedVideoPlayer:after {
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.g .g_backgroundVideo .g_placeholder iframe, .g .g_backgroundVideo .g_placeholder object {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 56.25vw
}

@media screen and (min-height: 80vw) {
    .g .g_backgroundVideo .g_placeholder iframe, .g .g_backgroundVideo .g_placeholder object {
        height: 70vh;
        width: 124.44444vh
    }
}

.g .g_playVideo {
    margin-top: 1.5em;
    padding-right: 2.25em;
    position: relative
}

.g .g_playVideo i {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 1.5em;
    margin-top: -.075em
}

.g .g_embedVideo {
    height: 100%;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_embedVideo .g_embedVideoPlayer > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%
}

.g .g_embedVideo div[id^=youkuplayer] > #iframeId {
    width: 100%;
    height: 82vh;
    margin-top: 9vh
}

@media screen and (min-width: 768px) {
    .g_keyTab .g .g_playVideo:focus {
        color: #4298ad
    }
}

@media screen and (max-width: 767px) {
    .g .g_embedVideo .g_embedVideoPlayer > * {
        height: 100%;
        width: 100%
    }
}

.g .g_nav .g_restrict .g_fil {
    font-size: .875em;
    line-height: 1.5;
    letter-spacing: .07143em;
    font-weight: 400
}

.g .g_nav .g_restrict .g_fil a, .g .g_nav .g_restrict .g_fil strong {
    font-weight: 600
}

.g .g_nav .g_restrict .g_menu a {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-size: .75em;
    line-height: 1.5;
    letter-spacing: .08333em;
    font-weight: 400
}

.g .g_nav .g_restrict .g_menu a a, .g .g_nav .g_restrict .g_menu a strong {
    font-weight: 600
}

.g .g_nav {
    font-size: 16px;
    position: absolute;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    height: 3.75em;
    text-transform: uppercase;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.g .g_nav.g_opened .g_restrict .g_btnMenu i {
    -ms-transform: scale(-1);
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

.g .g_nav.g_opened .g_restrict .g_btnMenu + .g_mobileMenuList {
    opacity: 1;
    visibility: visible;
    height: auto
}

.g .g_nav .g_restrict .g_fil ol, .g .g_nav .g_restrict .g_fil ul, .g .g_nav .g_restrict .g_menu ol, .g .g_nav .g_restrict .g_menu ul {
    margin-left: 2px;
    list-style: none;
    display: inline-table;
    vertical-align: middle
}

.g .g_nav .g_restrict .g_fil, .g .g_nav .g_restrict .g_fil li, .g .g_nav .g_restrict .g_menu, .g .g_nav .g_restrict .g_menu li, .g .g_nav .g_restrict .g_mobileMenu {
    display: table-cell;
    vertical-align: middle
}

.g .g_nav .g_restrict .g_fil {
    text-align: left;
    position: relative;
    white-space: nowrap
}

.g .g_nav .g_restrict .g_fil li {
    padding-right: 1em
}

.g .g_nav .g_restrict .g_fil li:not(:last-child):after {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    width: 6px;
    height: 6px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: .5em;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff
}

.g .g_nav .g_restrict .g_fil li:last-child {
    pointer-events: none
}

.g .g_nav .g_restrict .g_fil a {
    text-align: center;
    color: #fff;
    font-weight: 800;
    position: relative
}

.g .g_nav .g_restrict .g_fil a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.g .g_nav .g_restrict .g_fil a:hover:after {
    width: 100%
}

.g .g_nav .g_restrict .g_menu {
    text-align: right
}

.g .g_nav .g_restrict .g_menu li {
    display: table-cell
}

.g .g_nav .g_restrict .g_menu li:first-child {
    padding-left: 2em
}

.g .g_nav .g_restrict .g_menu a {
    color: #fff;
    opacity: .7
}

.g .g_nav .g_restrict .g_menu a:hover {
    opacity: 1
}

.g .g_nav .g_restrict .g_menu a.g_selected {
    opacity: 1;
    font-weight: 800
}

.g .g_nav .g_restrict .g_menu button {
    margin-top: 0
}

.g .g_nav .g_restrict .g_menu .g_btn span {
    padding: 0 1em
}

.g .g_nav .g_restrict .g_menu .g_btnBuy {
    margin-left: 1em
}

@media screen and (min-width: 768px) {
    .g .g_nav.g_fixed {
        top: 0;
        position: fixed
    }

    .g .g_nav .g_restrict .g_mobileMenu {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .g .g_nav {
        height: 50px;
        position: fixed;
        top: 50px
    }

    .g .g_nav .g_restrict {
        max-width: none;
        padding: 0 6px 0 13px
    }

    .g .g_nav .g_restrict .g_fil, .g .g_nav .g_restrict .g_menu ul li:not(:last-child) {
        display: none
    }

    .g .g_nav .g_restrict .g_btnMenu {
        font-weight: 800
    }

    .g .g_nav .g_restrict .g_btnBuy {
        min-width: 6em;
        padding: .64286em 0 .53571em
    }

    .g .g_nav .g_restrict .g_mobileMenu button {
        padding-right: 2em;
        position: relative;
        text-transform: uppercase;
        height: 50px
    }

    .g .g_nav .g_restrict .g_mobileMenu button i {
        position: absolute;
        right: 0;
        top: 0;
        width: 2em;
        height: 100%;
        -webkit-transition: .25s;
        transition: .25s
    }

    .g .g_nav .g_restrict .g_mobileMenu button i:before {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .5s;
        transition: .5s;
        position: absolute;
        width: 100vw;
        height: 0;
        overflow: hidden;
        background: rgba(0, 0, 0, .8);
        padding-bottom: 1em;
        left: 0
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList ul {
        display: table;
        width: 100%
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList li {
        display: table-row
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList li:last-child {
        display: none
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList li a {
        color: #fff;
        display: table-cell;
        font-size: .8125em;
        letter-spacing: .0625em;
        line-height: .9375em;
        padding: 1em 1.25em;
        opacity: .7
    }

    .g .g_nav .g_restrict .g_mobileMenu .g_mobileMenuList li a.g_selected {
        opacity: 1
    }
}

@media screen and (max-width: 767px) {
    #mobilePage .g .g_nav {
        top: 90px
    }
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_leftCol {
        display: table-cell;
        vertical-align: top;
        background: #f2f2f2;
        overflow: hidden;
        position: relative
    }

    .g .g_popin .g_leftCol:after {
        content: "";
        height: 100%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        z-index: 1
    }

    .g .g_popin .g_leftCol .g_header {
        height: calc(7.44975vw - 3.4056px + 10.6425vh)
    }

    .g .g_popin .g_leftCol .g_header .g_tableCell {
        padding: 2.5em 2.5em 0;
        text-align: center;
        vertical-align: middle
    }

    .g .g_popin .g_leftCol .g_header .g_tableCell .g_h2 {
        font-size: 2em;
        margin-bottom: .72222em
    }

    .g .g_popin .g_leftCol .g_header .g_tableCell .g_wysiwyg {
        margin-bottom: 0
    }

    .g .g_popin .g_leftCol .g_main .g_tableCell {
        position: relative
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_leftCol {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #f2f2f2;
        padding: 6em 1.25em 0
    }

    .g .g_popin .g_leftCol .g_header {
        margin-bottom: 2em
    }

    .g .g_popin .g_leftCol .g_header .g_tableCell {
        text-align: center
    }
}

.g .g_popin .g_rightCol {
    text-align: left
}

.g .g_popin .g_rightCol .g_table .g_headerRow .g_background {
    width: 100%;
    height: 13.75em;
    position: relative;
    background-size: cover;
    background-position: 50%;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_popin .g_rightCol .g_table .g_footerRow .g_addToCart .g_addToCartCustom {
    vertical-align: middle
}

.g .g_popin .g_rightCol .g_table .g_footerRow .g_addToCart .g_productPrice {
    display: inline-block;
    margin: 0 1em 0 0;
    padding-bottom: .5em
}

.g .g_popin .g_rightCol .g_table .g_footerRow .g_addToCart .g_addToCartCustom {
    margin-top: 0
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_rightCol {
        display: table-cell;
        vertical-align: top;
        background: #fff;
        overflow: hidden
    }

    .g .g_popin .g_rightCol .g_headerRow {
        height: 0%
    }

    .g .g_popin .g_rightCol .g_headerRow .g_tableCell {
        padding: 0;
        position: relative
    }

    .g .g_popin .g_rightCol .g_headerRow .g_background {
        height: calc(7.44975vw - 3.4056px + 10.6425vh)
    }

    .g .g_popin .g_rightCol .g_sectionRow {
        height: 100%
    }
}

@media screen and (min-width: 768px) and (min-width: 0\0
) {
    .g .g_popin .g_rightCol .g_sectionRow {
        height: auto
    }
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_rightCol .g_sectionRow .g_tableCell {
        position: relative
    }

    .g .g_popin .g_rightCol .g_footerRow {
        height: 0%;
        text-align: right
    }

    .g .g_popin .g_rightCol .g_footerRow .g_buyFooter {
        padding: 1.25em 2.5em 2.5em
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_rightCol {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #fff;
        left: 100vw;
        -webkit-transition: left .5s, opacity .25s .25s;
        transition: left .5s, opacity .25s .25s;
        opacity: 0
    }

    .g .g_popin .g_rightCol .g_table .g_sectionRow {
        padding: 0 1.25em 8em
    }

    .g .g_popin .g_rightCol .g_table .g_footerRow {
        text-align: right;
        position: fixed;
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        bottom: 0;
        width: 100%;
        padding: 1.25em;
        background: #fff;
        -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .1);
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);
        left: 100vw;
        -webkit-transition: .5s;
        transition: .5s
    }

    .g .g_popin.g_popinSlide .g_rightCol {
        -webkit-transition: left .5s, opacity .25s;
        transition: left .5s, opacity .25s;
        opacity: 1
    }

    .g .g_popin.g_popinSlide .g_rightCol, .g .g_popin.g_popinSlide .g_rightCol .g_table .g_footerRow {
        left: 0
    }

    .g .g_popin.g_popinSlide .g_btnClose {
        opacity: 0;
        visibility: hidden
    }

    .QSOpened .g .g_popin .g_rightCol .g_table .g_footerRow {
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }

    .g .g_popin .g_rightCol .g_table .g_footerRow .g_priceAndButton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .g .g_popin .g_rightCol .g_table .g_footerRow .g_priceAndButton p {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-right: 0 !important;
        text-align: center;
        padding: 1em 0 0 !important;
        line-height: 1
    }

    .g .g_popin .g_rightCol .g_table .g_footerRow .g_priceAndButton div {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .g .g_popin .g_rightCol .g_table .g_footerRow .g_priceAndButton div .g_btnBuy {
        width: 100%
    }
}

@media screen and (min-width: 768px) and (min-width: 0\0
) {
    .g .g_naturalScrollContainer {
        position: relative;
        width: 100%;
        height: 100%
    }
}

@media screen and (min-width: 768px) {
    .g .g_naturalScroll {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden
    }

    .g .g_naturalScroll:after, .g .g_naturalScroll:before {
        content: "";
        width: 100%;
        height: 3em;
        position: absolute;
        left: 0;
        z-index: 1;
        pointer-events: none
    }

    .g .g_naturalScroll:before {
        top: 0
    }

    .g .g_naturalScroll:after {
        bottom: 0
    }

    .g .g_naturalScrollOverflow {
        height: 100%;
        width: calc(100% + 16px)
    }

    .g .g_naturalScrollPadding {
        padding: 3em 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }

    .QSOpened .g .g_naturalScrollPadding {
        -webkit-overflow-scrolling: auto
    }

    .g .g_leftCol .g_naturalScroll:before {
        background-color: hsla(0, 0%, 95%, 0);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(hsla(0, 0%, 95%, 0)));
        background-image: linear-gradient(180deg, #f2f2f2, hsla(0, 0%, 95%, 0))
    }

    .g .g_leftCol .g_naturalScroll:after {
        background-color: hsla(0, 0%, 95%, 0);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(hsla(0, 0%, 95%, 0)));
        background-image: linear-gradient(0deg, #f2f2f2, hsla(0, 0%, 95%, 0))
    }

    .g .g_rightCol .g_naturalScroll:before {
        background-color: hsla(0, 0%, 100%, 0);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsla(0, 0%, 100%, 0)));
        background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0))
    }

    .g .g_rightCol .g_naturalScroll:after {
        background-color: hsla(0, 0%, 100%, 0);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(hsla(0, 0%, 100%, 0)));
        background-image: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0))
    }
}

@media screen and (min-width: 768px) and (min-width: 0\0
) {
    .g .g_innerScrollContainer {
        position: relative;
        width: 100%;
        height: 100%
    }
}

@media screen and (min-width: 768px) {
    .g .g_innerScroll {
        padding: 0 1.25em 0 2.5em;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    .g .g_innerScroll:after, .g .g_innerScroll:before {
        content: "";
        width: calc(100% - 2.5em);
        height: .625em;
        position: absolute;
        left: 0;
        z-index: 1
    }

    .g .g_innerScroll:before {
        background-color: hsla(0, 0%, 100%, 0);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsla(0, 0%, 100%, 0)));
        background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
        top: 0
    }

    .g .g_innerScroll:after {
        background-color: hsla(0, 0%, 100%, 0);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(hsla(0, 0%, 100%, 0)));
        background-image: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
        bottom: 0
    }

    .g .g_innerScrollOverflow, .g .g_innerScrollPadding {
        overflow-x: hidden;
        height: 100%
    }

    .g .g_innerScrollPadding {
        padding: .625em 1.25em .625em 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch
    }

    .g .g_innerScrollPadding::-webkit-scrollbar {
        height: 6px;
        width: 6px;
        background: transparent
    }

    .g .g_innerScrollPadding::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05)
    }
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_leftCol .g_productList .g_productItem {
        padding: 0 2.5em
    }

    .g .g_popin .g_leftCol .g_productList .g_productItem:after {
        width: calc(100% - 5em);
        left: 2.5em
    }

    .g .g_popin .g_leftCol .g_productList .g_productItem:hover {
        background: hsla(0, 0%, 100%, .5);
        -webkit-box-shadow: 0 .1em 1em rgba(0, 0, 0, .05);
        box-shadow: 0 .1em 1em rgba(0, 0, 0, .05)
    }

    .g .g_popin .g_leftCol .g_productList .g_productItem:hover:after {
        opacity: 0
    }

    .g .g_popin .g_leftCol .g_productList .g_productItem.g_opened {
        background: #fff;
        -webkit-box-shadow: 0 .1em 1em rgba(0, 0, 0, .1);
        box-shadow: 0 .1em 1em rgba(0, 0, 0, .1)
    }

    .g .g_popin .g_leftCol .g_productList .g_productItem.g_opened:after {
        opacity: 0
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_leftCol .g_productList .g_productItem .g_clickableZone {
        right: 2.5em
    }
}

.g .g_btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: normal;
    text-decoration: none;
    border: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875em;
    font-family: Lucas, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: .85714em 0 .71429em;
    line-height: 1.28571em;
    letter-spacing: .07143em;
    min-width: 7.14286em;
    border-radius: .21429em
}

.g .g_btn span {
    padding: 0 1.42857em;
    display: inline-block
}

.g .g_btn + .g .g_btn {
    margin-right: .71429em
}

.g .g_btn i {
    font-family: Nespresso Icons;
    width: 2.85714em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    line-height: 1
}

.g .g_btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.g .g_btn i + span {
    padding-left: 2.85714em
}

.g .g_btn span + i {
    left: auto;
    right: 0
}

.g_keyTab .g .g_btn:focus {
    background: #4298ad;
    color: #fff
}

.g .g_btn.g_iconRight span {
    padding-right: 2.85714em
}

.g .g_btn[disabled=disabled] {
    pointer-events: none;
    background: #1a1a1a;
    color: #828282
}

.g .g_btn[disabled=disabled] i {
    color: #828282
}

.g .g_light .g_btn[disabled=disabled] {
    pointer-events: none;
    background: #e6e6e6;
    color: #666
}

.g .g_light .g_btn[disabled=disabled] i {
    color: #666
}

.g .g_btnBuy {
    color: #fff;
    background: #3d8705
}

.g .g_btnBuy:active {
    background: #337204
}

html:not(.g_isTouch) .g .g_btnBuy:hover {
    -webkit-box-shadow: 0 .25em .5em rgba(0, 0, 0, .3);
    box-shadow: 0 .25em .5em rgba(0, 0, 0, .3)
}

.g .g_btnGold {
    color: #fff;
    background: #8f7247
}

html:not(.g_isTouch) .g .g_btnGold:hover {
    background: #a0804f;
    -webkit-box-shadow: 0 .25em .5em rgba(0, 0, 0, .3);
    box-shadow: 0 .25em .5em rgba(0, 0, 0, .3)
}

.g .g_btnWhite {
    color: #000;
    background: #fff
}

html:not(.g_isTouch) .g .g_btnWhite:hover {
    color: #8f7247;
    -webkit-box-shadow: 0 .25em .5em rgba(0, 0, 0, .3);
    box-shadow: 0 .25em .5em rgba(0, 0, 0, .3)
}

@media screen and (max-width: 767px) {
    .g .g_btnBuy {
        display: block
    }
}

.g_scrollLock {
    overflow: hidden !important;
    width: auto
}

.g_visually_hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    text-indent: -100000px
}

.g_addToCart {
    min-height: 4.5em;
    position: relative
}

.g_addToCart .g_productPrice {
    font-size: .875em;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: .07143em;
    color: #3d8705
}

.g_addToCart .g_productPrice[data-disabled=true] {
    color: #828282
}

.g_light .g_addToCart .g_productPrice[data-disabled=true] {
    color: #666
}

.g_addToCart .g_addToCartCustom {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: .5em
}

.g_addToCart .g_addToCartCustom > button {
    margin-top: 0
}

.g_addToCart .g_addToCartCustom > button:after {
    content: "";
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    visibility: hidden;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    position: absolute;
    background: #fff;
    opacity: .5;
    left: var(--relativeMouseX);
    top: var(--relativeMouseY)
}

.g_addToCart .g_addToCartCustom > button.g_materialPlay:after {
    opacity: 0;
    visibility: visible;
    -webkit-transition: .3s;
    transition: .3s;
    -ms-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5)
}

.g_addToCart .g_addToCartCustom > button span {
    padding: 0 2.75em 0 3.25em
}

.g_addToCart .g_addToCartCustom > button .g_labelPhantom {
    visibility: hidden
}

.g_addToCart .g_addToCartCustom > button .g_labelAdd, .g_addToCart .g_addToCartCustom > button .g_labelUpdate {
    width: 100%;
    padding-top: .125em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.g_addToCart .g_addToCartCustom > button .g_labelUpdate, .g_addToCart .g_addToCartCustom > button.g_update .g_labelAdd {
    opacity: 0;
    visibility: hidden
}

.g_addToCart .g_addToCartCustom > button.g_update .g_labelUpdate {
    opacity: 1;
    visibility: visible
}

.g_addToCart .g_addToCartCustom > button.g_quantitySelectorOpened {
    background-color: #337204
}

.g_keyTab .g_addToCart .g_addToCartCustom > button:focus {
    background-color: #4298ad
}

.g_addToCart .g_addToCartCustom > button .fn_basket:before {
    font-size: 2.2em;
    top: 47%;
    left: 55%
}

.g_addToCart .g_addToCartCustom > button .fn_basket span {
    font-family: Lucas, Helvetica, Arial, sans-serif;
    font-weight: 700;
    background: #fff;
    color: #3d8705;
    width: 1.9em;
    height: 1.7em;
    white-space: nowrap;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    font-size: .8em;
    line-height: 2em;
    letter-spacing: -.05em;
    -ms-transform: translate(-50%, -50%) skew(-2deg);
    -webkit-transform: translate(-50%, -50%) skew(-2deg);
    transform: translate(-50%, -50%) skew(-2deg)
}

.g_addToCart .g_addToCartCustom > button .fn_basket.g_quantity span {
    opacity: 1;
    visibility: visible
}

.g_addToCart .g_addToCartCustom > button .fn_more:before {
    font-size: 2.3em
}

.g_addToCart.g_mini .g_addToCartCustom > button {
    width: 2.5em;
    height: 2.5em;
    min-width: 0
}

.g_addToCart.g_mini .g_addToCartCustom > button .fn_basket {
    opacity: 0;
    visibility: hidden
}

.g_addToCart.g_mini .g_addToCartCustom > button .fn_basket:before {
    display: none
}

.g_addToCart.g_mini .g_addToCartCustom > button .fn_basket span {
    color: #fff;
    background: none;
    font-size: 1em;
    line-height: 1;
    margin-left: 0;
    height: auto;
    letter-spacing: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.g_addToCart.g_mini .g_addToCartCustom > button i {
    width: 100%
}

.g_addToCart.g_mini .g_addToCartCustom > button > span:not(.g_visually_hidden) {
    padding: 0;
    display: none
}

.g_addToCart.g_mini .g_addToCartCustom > button.g_update .fn_basket {
    opacity: 1;
    visibility: visible
}

.g_addToCart.g_mini .g_addToCartCustom > button.g_update .fn_more {
    opacity: 0;
    visibility: hidden
}

@media screen and (min-width: 768px) {
    .g_addToCart.g_miniDesktop .g_addToCartCustom > button {
        width: 2.5em;
        height: 2.5em;
        min-width: 0
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button .fn_basket {
        opacity: 0;
        visibility: hidden
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button .fn_basket:before {
        display: none
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button .fn_basket span {
        color: #fff;
        background: none;
        font-size: 1em;
        line-height: 1;
        margin-left: 0;
        height: auto;
        letter-spacing: 0;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button i {
        width: 100%
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button > span:not(.g_visually_hidden) {
        padding: 0;
        display: none
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button.g_update .fn_basket {
        opacity: 1;
        visibility: visible
    }

    .g_addToCart.g_miniDesktop .g_addToCartCustom > button.g_update .fn_more {
        opacity: 0;
        visibility: hidden
    }
}

@media screen and (max-width: 767px) {
    .g_addToCart.g_miniMobile .g_addToCartCustom > button {
        width: 2.5em;
        height: 2.5em;
        min-width: 0
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button .fn_basket {
        opacity: 0;
        visibility: hidden
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button .fn_basket:before {
        display: none
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button .fn_basket span {
        color: #fff;
        background: none;
        font-size: 1em;
        line-height: 1;
        margin-left: 0;
        height: auto;
        letter-spacing: 0;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button i {
        width: 100%
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button > span:not(.g_visually_hidden) {
        padding: 0;
        display: none
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button.g_update .fn_basket {
        opacity: 1;
        visibility: visible
    }

    .g_addToCart.g_miniMobile .g_addToCartCustom > button.g_update .fn_more {
        opacity: 0;
        visibility: hidden
    }
}

.g .g_popin .g_rightCol .g_btnBack {
    background: #000;
    color: #fff
}

.g .g_popin .g_rightCol .g_table header .g_title {
    padding: 0 2.5em;
    margin-bottom: .5em
}

.g .g_popin .g_rightCol .g_table header .g_h3, .g .g_popin .g_rightCol .g_table header .g_txt_S {
    padding: 0;
    position: relative
}

.g .g_popin .g_rightCol .g_table header .g_h3 {
    letter-spacing: .1em;
    margin-bottom: 0
}

.g .g_popin .g_rightCol .g_table header .g_txt_S {
    color: #757575;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: .5em
}

.g .g_popin .g_rightCol .g_table .g_productHeader .g_background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

@media screen and (min-width: 768px) {
    .g .g_popinCollection .g_rightCol .g_table .g_headerRow .g_productHeader.g_ImgHeader .g_background {
        height: calc(11.66673vw - 5.33336px + 16.66675vh)
    }

    .g .g_popinCollection .g_rightCol .g_table .g_headerRow .g_productHeader.g_ImgHeader .g_api {
        background-size: 18.75em 18.75em
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_rightCol .g_table .g_headerRow .g_productHeader.g_ImgHeader .g_title {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0 1.25em
    }
}

@media screen and (min-width: 768px) {
    .g .g_popin .g_rightCol .g_btnBack {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin .g_rightCol .g_btnBack {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background: #fff;
        color: #000;
        position: absolute;
        top: 1.25em;
        left: 1.25em;
        z-index: 1
    }

    .QSOpened .g .g_popin .g_rightCol .g_btnBack {
        opacity: 0;
        visibility: hidden
    }
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_background {
    background-size: cover !important
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_product {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 70%;
    height: 160%;
    background-size: cover;
    background-position: 50%
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_product.g_alto {
    -ms-transform: translate(-50%) scale(.85);
    -webkit-transform: translate(-50%) scale(.85);
    transform: translate(-50%) scale(.85);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_product.g_cupVL .g_cup {
    left: 15%;
    width: 80%
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_capsule, .g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_cup {
    position: absolute;
    bottom: 27%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-position: bottom
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_capsule {
    left: 15%;
    width: 35%;
    height: 19%
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_cup {
    left: 10%;
    width: 85%;
    height: 85%;
    bottom: 27.5%
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_cup.g_reflect {
    opacity: .1
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_cup.g_reflect:after {
    background-color: hsla(0, 0%, 100%, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #fff 80%, hsla(0, 0%, 100%, 0))
}

@media screen and (min-width: 0\0
) {
    .g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_cup.g_reflect {
        display: none
    }
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_reflect {
    -ms-transform: translateY(100%) scaleY(-1);
    -webkit-transform: translateY(100%) scaleY(-1);
    transform: translateY(100%) scaleY(-1);
    opacity: .2
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_reflect:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #fff 20%, hsla(0, 0%, 100%, 0))
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_mask {
    -ms-transform: translateY(100%) scaleY(-1);
    -webkit-transform: translateY(100%) scaleY(-1);
    transform: translateY(100%) scaleY(-1);
    -webkit-filter: contrast(0) brightness(2);
    filter: contrast(0) brightness(2)
}

@media screen and (min-width: 0\0
) {
    .g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_mask {
        display: none
    }
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_title {
    margin-top: 7vh
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_h3, .g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_txt_S {
    position: relative
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_h3 {
    letter-spacing: .1em;
    margin-bottom: 0
}

.g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_txt_S {
    color: #757575;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0
}

@media screen and (max-width: 767px) {
    .g .g_popinCollection .g_rightCol .g_table .g_coffeeHeader .g_title {
        margin-top: 4em;
        margin-bottom: 1em;
        padding: 0 1.25em
    }
}

.g .g_productSection *, .g .g_productSection .g_txt_S {
    color: #000 !important
}

.g_services li {
    text-align: center;
    padding: 0 1em
}

.g_services a {
    display: block;
    color: #fff
}

.g_keyTab .g_services a:focus .g_icon {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: sepia(100%) hue-rotate(145deg) saturate(300%);
    filter: sepia(100%) hue-rotate(145deg) saturate(300%)
}

.g_services .g_icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 6.25em;
    -webkit-transition: .25s;
    transition: .25s
}

@media screen and (min-width: 768px) {
    .g_services ul {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .g_services li {
        display: table-cell;
        vertical-align: top
    }

    html:not(.g_isTouch) .g_services a:hover .g_icon {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-filter: sepia(100%) hue-rotate(145deg) saturate(300%);
        filter: sepia(100%) hue-rotate(145deg) saturate(300%)
    }
}

@media screen and (max-width: 767px) {
    .g_services ul {
        display: block
    }

    .g_services li {
        display: inline-block;
        vertical-align: top;
        width: 50%
    }

    .g_services .g_h3 {
        padding: 0 .5em
    }
}

.g .g_photo .g_bg {
    background-size: cover
}

.g .g_photo .g_content {
    height: auto
}

@media screen and (min-width: 768px) {
    .g .g_proportion_5_2 {
        height: 40vw
    }

    .g .g_proportion_4_1 {
        height: 25vw
    }
}

@media screen and (max-width: 767px) {
    .g .g_photo {
        height: 100vw
    }
}

.g .g_imageGrid {
    width: 100%;
    height: 50vw;
    max-height: 100vh;
    background: #f9f9f9
}

.g .g_imageGrid > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden
}

.g .g_imageGrid > div, .g .g_imageGrid > div > div {
    background-size: cover;
    background-position: 50%
}

.g .g_imageGrid > div > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden
}

.g .g_imageGrid .bg_placeholder {
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%
}

.g .g_imageGrid .g_buttonContainer {
    display: block
}

.g .g_imageGrid .g_buttonContainerCover {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%
}

.g .g_imageGrid button {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.g .g_imageGrid button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .1)
}

html:not(.g_isTouch) .g .g_imageGrid button:hover {
    background: hsla(0, 0%, 100%, .15)
}

.g_keyTab .g .g_imageGrid button:focus {
    -webkit-filter: sepia(100%) hue-rotate(145deg) saturate(300%);
    filter: sepia(100%) hue-rotate(145deg) saturate(300%);
    -webkit-box-shadow: inset 0 0 1px 2px #4298ad;
    box-shadow: inset 0 0 1px 2px #4298ad
}

.g .g_imageGrid .g_h3 {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.25em;
    width: 100%;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.g .g_imageGrid .g_h3 span {
    padding: 0 1.66667em;
    display: block;
    position: relative
}

.g .g_imageGrid .g_h3:before {
    content: "";
    position: absolute;
    bottom: -1.25em;
    width: 100%;
    height: 10em;
    left: 0;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .8)), to(transparent));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8), transparent)
}

html:not(.g_isTouch) .g .g_imageGrid .g_h3:hover:after {
    color: #fff
}

@media screen and (min-width: 768px) {
    .g .g_popin.g_popinRecipe .g_leftCol .g_header .g_tableCell {
        height: auto
    }
}

@media screen and (max-width: 767px) {
    .g .g_popin.g_popinRecipe .g_btnClose {
        background: #fff;
        color: #000
    }

    .g .g_popin.g_popinRecipe .g_leftCol {
        height: auto;
        padding: 2.5em 1.25em
    }
}

.g .g_imageGrid img {
    position: absolute;
    height: 0;
    width: 0;
    color: transparent
}

@media screen and (max-width: 767px) {
    .g .g_popin.g_popinRecipe .g_rightCol {
        position: relative;
        height: auto;
        top: auto;
        left: auto;
        opacity: 1;
        padding: 2.5em 1.25em
    }

    .g .g_popin.g_popinRecipe .g_rightCol .g_table .g_sectionRow {
        padding: 0
    }
}

.g_recipes {
    overflow: hidden
}

.g_recipes .g_restrict .g_content {
    height: auto;
    padding: 6.25em 0 3.125em
}

.g_recipes .g_restrict .g_content .g_h2 {
    margin-bottom: 0
}

.g_recipes .g_restrict .g_content .g_h2, .g_recipes .g_restrict .g_content .g_h3 {
    text-align: center
}

.g_recipes .g_restrict .g_content .g_h3 {
    margin-bottom: 1em
}

@media screen and (max-width: 767px) {
    .g .g_recipes .g_restrict .g_content {
        padding: 5em 0
    }

    .g .g_recipes .g_imageGrid {
        height: auto;
        max-height: none
    }

    .g .g_recipes .g_imageGrid > div, .g .g_recipes .g_imageGrid > div + div {
        width: 100%;
        height: 100vw
    }

    .g .g_recipes .g_imageGrid .g_h3 {
        margin-bottom: .5em;
        font-size: 1.1em
    }

    .g .g_recipes .g_imageGrid .g_h3:after {
        top: -.15em;
        left: 50%;
        -ms-transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%)
    }

    .g .g_recipes .g_imageGrid .g_h3 span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1em;
        text-align: center
    }
}

.g .g_recipes1 .g_imageGrid {
    height: 33.33vw
}

.g .g_recipes1 .g_imageGrid > div {
    width: 100%;
    height: 100%
}

.g .g_recipes2 .g_imageGrid {
    height: 33.33vw;
    max-height: 75vh
}

.g .g_recipes2 .g_imageGrid > div {
    width: 50%;
    height: 100%
}

.g .g_recipes3 .g_imageGrid {
    height: 33.33vw;
    max-height: 75vh
}

.g .g_recipes3 .g_imageGrid > div {
    width: 33.33%;
    height: 100%
}

.g .g_recipes4 .g_imageGrid {
    height: 25vw;
    max-height: 50vh
}

.g .g_recipes4 .g_imageGrid > div {
    width: 25%;
    height: 100%
}

@media screen and (max-width: 767px) {
    .g .g_recipes2 .g_imageGrid {
        height: 75vw
    }

    .g .g_recipes2 .g_imageGrid > div, .g .g_recipes2 .g_imageGrid > div + div {
        width: 50%;
        height: 100%
    }

    .g .g_recipes3 .g_imageGrid {
        height: 175vw
    }

    .g .g_recipes3 .g_imageGrid > div {
        width: 100%;
        height: 60%
    }

    .g .g_recipes3 .g_imageGrid > div + div {
        width: 50%;
        height: 40%
    }

    .g .g_recipes4 .g_imageGrid {
        height: 125vw
    }

    .g .g_recipes4 .g_imageGrid > div, .g .g_recipes4 .g_imageGrid > div + div {
        width: 50%;
        height: 50%
    }
}

.g .g_recipeInfos {
    display: inline-table;
    table-layout: fixed
}

.g .g_recipeInfos .g_recipeInfo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
    padding: 0 .875em 0 3.125em
}

.g .g_recipeInfos .g_recipeInfo i {
    font-size: 2em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .4375em
}

.g .g_recipeInfos .g_recipeInfo span {
    font-size: .75em;
    font-weight: 600
}

@media screen and (max-width: 767px) {
    .g .g_recipeTitle {
        text-align: center
    }
}

.g .g_recipeContent {
    padding: 0 2.5em
}

.g .g_recipeContent div.g_txt_S p:not(:last-child) {
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .g .g_recipeContent {
        padding: 0
    }

    .g .g_recipeContent .g_preparation .g_txt_S p:last-child {
        margin-bottom: 0
    }
}

.g .g_popin.g_popinRecipe .g_rightCol .g_table .g_headerRow .g_recipeHeader .g_background {
    height: calc(11.66673vw + 16.66675vh)
}

.g .g_popin.g_popinRecipe .g_rightCol .g_table .g_headerRow .g_recipeHeader .g_video iframe {
    display: block;
    width: 100%;
    height: calc(9.84375vw + 14.0625vh)
}

@media screen and (max-width: 767px) {
    .g .g_popin.g_popinRecipe .g_recipeHeader .g_background {
        background-size: cover;
        background-position: 50%;
        height: 66.66667vw
    }

    .g .g_popin.g_popinRecipe .g_recipeHeader .g_video iframe {
        display: block;
        width: 100%;
        height: 66.66667vw
    }
}

.g .g_productList {
    text-align: left
}

.g .g_productList .g_productItem {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_productList .g_productItem:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: rgba(0, 0, 0, .1);
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_productList .g_productItem:last-child:after {
    display: none
}

.g .g_productList .g_productItem .g_clickableZone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.g .g_productList .g_productItem .g_table {
    display: table;
    width: 100%;
    padding: .5em 0
}

.g .g_productList .g_productItem .g_table .g_cell {
    display: table-cell;
    vertical-align: middle
}

.g .g_productList .g_productItem .g_table .g_cell:first-child {
    text-align: center;
    width: 4.375em
}

.g .g_productList .g_productItem .g_table .g_cell:first-child img {
    display: inline-block;
    width: 100%
}

@media screen and (min-width: 0\0
) {
    .g .g_productList .g_productItem .g_table .g_cell:first-child img {
        width: 70px;
        height: 70px
    }
}

.g .g_productList .g_productItem .g_table .g_cell:nth-child(2) {
    padding: .5em 0
}

.g .g_productList .g_productItem .g_table .g_cell:nth-child(2) .g_h5 {
    letter-spacing: .05em;
    margin: 0
}

.g .g_productList .g_productItem .g_table .g_cell:nth-child(2) .g_txt_XS {
    text-transform: uppercase;
    color: #757575;
    font-weight: 400
}

.g .g_productList .g_productItem .g_table .g_cell:last-child {
    padding: .5em 0;
    text-align: right
}

.g .g_productList .g_productItem .g_table .g_cell:last-child .g_addToCart {
    white-space: nowrap
}

.g .g_productList .g_productItem .g_table .g_cell:last-child .g_addToCart .g_productPrice {
    display: inline-block;
    line-height: 2.5em;
    margin: 0 1em 0 0
}

.g .g_productList .g_productItem .g_table .g_cell:last-child .g_addToCart .g_addToCartCustom {
    margin-top: 0
}

.g .g_recipeSection {
    padding: 0 2.5em
}

@media screen and (max-width: 767px) {
    .g .g_recipeSection, .g .g_sectionRow {
        padding: 0
    }
}

.g .g_sectionTab {
    background: #000
}

.g .g_sectionTab.g_light {
    background: #e9eaef
}

.g .g_sectionTab .g_bg {
    opacity: 0;
    visibility: hidden;
    -ms-transform: translate(2em);
    -webkit-transform: translate(2em);
    transform: translate(2em);
    -webkit-transition: .5s;
    transition: .5s;
    width: calc(100% + 4em);
    left: -2em;
    z-index: 0
}

.g .g_sectionTab .g_bg.g_active {
    opacity: 1;
    visibility: visible;
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 1
}

.g .g_sectionTab .g_content {
    vertical-align: top;
    position: relative;
    z-index: 1
}

.g .g_sectionTab .g_content > .g_text {
    width: 50%
}

.g .g_sectionTab .g_tabContent {
    position: relative
}

.g .g_sectionTab .g_tabContent > div {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s
}

.g .g_sectionTab .g_tabContent > div.g_active {
    opacity: 1;
    visibility: visible;
    position: relative
}

.g .g_sectionTab .g_tabContent h4 {
    margin-bottom: .5em
}

.g .g_sectionTab .g_tabs {
    margin-bottom: 2em
}

.g .g_sectionTab .g_tabs ul {
    list-style: none
}

.g .g_sectionTab .g_tabs ul li {
    display: inline-block;
    padding-right: 2em
}

.g .g_sectionTab .g_tabs ul li:last-child {
    padding-right: 0
}

.g .g_sectionTab .g_tabs ul li button {
    padding: .5em 0;
    position: relative
}

.g .g_sectionTab .g_tabs ul li button:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    background: #8f7247;
    opacity: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_sectionTab .g_tabs ul li button.g_active:after, .g .g_sectionTab .g_tabs ul li button:hover:after {
    width: 100%;
    opacity: 1
}

.g .g_sectionTab .g_tabs ul li h3 {
    margin-bottom: 0;
    color: #8f7247;
    font-size: 1em;
    letter-spacing: .0625em;
    font-weight: 600
}

@media screen and (max-width: 767px) {
    .g .g_sectionTab .g_content > .g_text {
        width: 100%
    }

    .g .g_sectionTab .g_tabs {
        height: 3em;
        overflow: hidden;
        margin: 0 -1.25em 1.5em
    }

    .g .g_sectionTab .g_tabs ul {
        white-space: nowrap;
        width: 100vw;
        overflow-x: scroll;
        padding: 0 1.25em 2em
    }

    .g .g_sectionTab .g_tabs ul li {
        padding-right: 1em !important
    }
}

.g.g_originalLine .g_sectionRange {
    background-color: #000
}

.g.g_vertuoLine .g_sectionRange {
    background-color: #f3f3f3
}

@media screen and (min-width: 768px) {
    .g .g_coffeeRange {
        margin: 5em 0 !important
    }

    .g.g_originalLine .g_imageContainer {
        margin-top: -10em;
        margin-bottom: 2em
    }

    .g.g_originalLine .g_imageContainer img {
        width: 100%
    }

    .g.g_vertuoLine .g_coffeeRange .g_imageContainer {
        margin-top: -6em;
        margin-bottom: -5em
    }

    .g.g_vertuoLine .g_coffeeRange .g_imageContainer img {
        width: 220%;
        margin-left: -45%
    }
}

@media screen and (max-width: 767px) {
    .g .g_sectionRange .g_content {
        padding-bottom: 0
    }

    .g .g_coffeeRange {
        margin-bottom: 4em
    }

    .g .g_coffeeRange .g_imageContainer {
        margin-top: -3em;
        margin-bottom: -3em
    }

    .g .g_coffeeRange .g_imageContainer img {
        width: 75%
    }
}

.g .g_roundButton {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    max-width: 2.25em;
    height: 2.25em;
    color: #fff;
    line-height: 2.25em;
    text-align: left;
    border-radius: 3.125em;
    background-color: #8f7247;
    cursor: pointer;
    overflow: visible
}

.g .g_roundButton i {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.25em;
    height: 2.25em
}

.g .g_roundButton i:before {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.g .g_tiles > li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border: 2px solid transparent;
    background-clip: padding-box;
    height: 33em;
    will-change: width
}

.g .g_tiles > li:hover .g_product {
    width: 3.125em
}

.g .g_tiles > li[data-nb-capsules="6"] .g_product {
    width: 2.59375em
}

.g .g_tiles > li[data-nb-capsules="7"] .g_product {
    width: 2.22321em
}

.g .g_tiles > li[data-nb-capsules="8"] .g_product {
    width: 1.94531em
}

.g .g_tiles > li[data-nb-capsules="9"] .g_product {
    width: 1.72917em
}

.g .g_tiles > li[data-nb-capsules="10"] .g_product {
    width: 1.55625em
}

.g .g_tiles > li[data-nb-capsules="11"] .g_product {
    width: 1.41477em
}

.g .g_tiles > li[data-nb-capsules="12"] .g_product {
    width: 1.29688em
}

.g .g_tiles > li[data-nb-capsules="13"] .g_product {
    width: 1.19712em
}

.g .g_tiles > li[data-nb-capsules="14"] .g_product {
    width: 1.11161em
}

.g .g_tiles > li[data-nb-capsules="15"] .g_product {
    width: 1.0375em
}

.g .g_tiles > li[data-nb-capsules="6"]:hover .g_product {
    width: 3.1125em
}

.g .g_tiles > li[data-nb-capsules="7"]:hover .g_product {
    width: 2.66786em
}

.g .g_tiles > li[data-nb-capsules="8"]:hover .g_product {
    width: 2.33438em
}

.g .g_tiles > li[data-nb-capsules="9"]:hover .g_product {
    width: 2.075em
}

.g .g_tiles > li[data-nb-capsules="10"]:hover .g_product {
    width: 1.8675em
}

.g .g_tiles > li[data-nb-capsules="11"]:hover .g_product {
    width: 1.69773em
}

.g .g_tiles > li[data-nb-capsules="12"]:hover .g_product {
    width: 1.55625em
}

.g .g_tiles > li[data-nb-capsules="13"]:hover .g_product {
    width: 1.43654em
}

.g .g_tiles > li[data-nb-capsules="14"]:hover .g_product {
    width: 1.33393em
}

.g .g_tiles > li[data-nb-capsules="15"]:hover .g_product {
    width: 1.245em
}

.g .g_tiles .g_tile {
    text-align: center;
    padding: 4em 2em;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative
}

.g .g_tiles .g_tile .g_products {
    display: inline-table;
    table-layout: fixed
}

.g .g_tiles .g_tile .g_product {
    display: table-cell;
    height: 6.25em;
    width: 2.5em;
    position: relative;
    -webkit-transition: .25s;
    transition: .25s
}

.g .g_tiles .g_tile .g_product:first-child {
    z-index: 15
}

.g .g_tiles .g_tile .g_product:nth-child(2) {
    z-index: 14
}

.g .g_tiles .g_tile .g_product:nth-child(3) {
    z-index: 13
}

.g .g_tiles .g_tile .g_product:nth-child(4) {
    z-index: 12
}

.g .g_tiles .g_tile .g_product:nth-child(5) {
    z-index: 11
}

.g .g_tiles .g_tile .g_product:nth-child(6) {
    z-index: 10
}

.g .g_tiles .g_tile .g_product:nth-child(7) {
    z-index: 9
}

.g .g_tiles .g_tile .g_product:nth-child(8) {
    z-index: 8
}

.g .g_tiles .g_tile .g_product:nth-child(9) {
    z-index: 7
}

.g .g_tiles .g_tile .g_product:nth-child(10) {
    z-index: 6
}

.g .g_tiles .g_tile .g_product:nth-child(11) {
    z-index: 5
}

.g .g_tiles .g_tile .g_product:nth-child(12) {
    z-index: 4
}

.g .g_tiles .g_tile .g_product:nth-child(13) {
    z-index: 3
}

.g .g_tiles .g_tile .g_product:nth-child(14) {
    z-index: 2
}

.g .g_tiles .g_tile .g_product:nth-child(15) {
    z-index: 1
}

.g .g_tiles .g_tile .g_capsule {
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    bottom: 0;
    width: 10em;
    height: 6.25em;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-position: bottom
}

.g .g_tiles .g_tile .g_reflect {
    -ms-transform: translate(-50%, 100%) scaleY(-1);
    -webkit-transform: translate(-50%, 100%) scaleY(-1);
    transform: translate(-50%, 100%) scaleY(-1);
    opacity: 1;
    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(44%, hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, .3)));
    mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 44%, hsla(0, 0%, 100%, .3));
    -webkit-mask-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0) 44%, hsla(0, 0%, 100%, .3))
}

@media screen and (min-width: 0\0
) {
    .g .g_tiles .g_tile .g_reflect {
        display: none
    }
}

.g .g_tiles .g_tile .g_mask {
    display: none
}

.g .g_tiles .g_tile .g_description {
    position: relative;
    z-index: 16;
    text-align: center;
    padding: 4em 0 2em;
    text-transform: uppercase
}

.g .g_tiles .g_tile .g_description .g_h3 {
    margin-bottom: .25em
}

.g .g_tiles .g_tile .g_features {
    display: inline-table
}

.g .g_tiles .g_tile .g_feature {
    display: table-cell;
    padding: 0 1em
}

.g .g_tiles .g_tile .g_feature .g_wysiwyg, .g .g_tiles .g_tile .g_feature svg {
    display: block;
    margin: 0 auto;
    vertical-align: middle
}

.g .g_tiles .g_tile .g_feature .g_wysiwyg {
    font-weight: 700;
    letter-spacing: 0;
    margin-top: .5em
}

.g .g_tiles .g_tile .g_roundButton {
    position: static;
    display: block;
    width: 2.25em;
    margin: 2em auto 0
}

.g.g_vertuoLine .g_tiles > li {
    background-color: #fff
}

.g.g_originalLine .g_tiles > li {
    background-color: #1b1b1b
}

.g.g_originalLine .g_tile .g_reflect {
    opacity: .85
}

.g.g_originalLine .g_tile .g_reflect:after {
    background-color: rgba(27, 27, 27, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b1b1b), to(rgba(27, 27, 27, 0)));
    background-image: linear-gradient(180deg, #1b1b1b 50%, rgba(27, 27, 27, 0))
}

.g.g_originalLine .g_tile .g_mask {
    -webkit-filter: contrast(0) brightness(.21);
    filter: contrast(0) brightness(.21)
}

@media screen and (max-width: 767px) {
    .g .g_tiles {
        margin: 0 -1.25em
    }

    .g .g_tiles > li {
        width: 100%;
        border: 0;
        height: auto
    }

    .g .g_tiles .g_tile {
        padding: 2em 2em 5em
    }

    .g .g_tiles .g_tile .g_description {
        padding-top: 3em
    }

    .g.g_vertuoLine .g_tiles {
        background-color: #fff
    }

    .g.g_vertuoLine .g_tiles > li {
        border-top: 4px solid #f3f3f3
    }

    .g.g_originalLine .g_tiles {
        background-color: #1b1b1b
    }

    .g.g_originalLine .g_tiles > li {
        border-top: 4px solid #000
    }
}

.g article, .g aside, .g footer, .g header, .g nav, .g section {
    display: block
}

.g h1 {
    font-size: 2em;
    margin: .67em 0
}

.g figcaption, .g figure {
    display: block
}

.g figure {
    margin: 1em 40px
}

.g hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.g pre {
    font-family: monospace, monospace;
    font-size: 1em
}

.g a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

.g a:active, .g a:hover {
    outline-width: 0
}

.g abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

.g b, .g strong {
    font-weight: inherit;
    font-weight: bolder
}

.g code, .g kbd, .g samp {
    font-family: monospace, monospace;
    font-size: 1em
}

.g dfn {
    font-style: italic
}

.g mark {
    background-color: #ff0;
    color: #000
}

.g small {
    font-size: 80%
}

.g sub, .g sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.g sub {
    bottom: -.25em
}

.g sup {
    top: -.5em
}

.g audio, .g video {
    display: inline-block
}

.g audio:not([controls]) {
    display: none;
    height: 0
}

.g img {
    border-style: none
}

.g button, .g input, .g optgroup, .g select, .g textarea {
    font: inherit;
    margin: 0
}

.g optgroup {
    font-weight: 700
}

.g button, .g input {
    overflow: visible
}

.g button, .g select {
    text-transform: none
}

.g [type=button], .g [type=reset], .g [type=submit], .g button {
    -webkit-appearance: button
}

.g [type=button]::-moz-focus-inner, .g [type=reset]::-moz-focus-inner, .g [type=submit]::-moz-focus-inner, .g button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

.g [type=button]:-moz-focusring, .g [type=reset]:-moz-focusring, .g [type=submit]:-moz-focusring, .g button:-moz-focusring {
    outline: 1px dotted ButtonText
}

.g legend {
    color: inherit;
    white-space: normal
}

.g progress {
    display: inline-block;
    vertical-align: baseline
}

.g textarea {
    overflow: auto
}

.g [type=checkbox], .g [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

.g [type=number]::-webkit-inner-spin-button, .g [type=number]::-webkit-outer-spin-button {
    height: auto
}

.g [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

.g [type=search]::-webkit-search-cancel-button, .g [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.g ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.g details, .g menu {
    display: block
}

.g summary {
    display: list-item
}

.g canvas {
    display: inline-block
}

.g [hidden], .g template {
    display: none
}

.g ::-moz-selection {
    color: #fff;
    background: #4298ad;
    text-shadow: none
}

.g ::selection {
    color: #fff;
    background: #4298ad;
    text-shadow: none
}

.g nav ol, .g nav ul {
    list-style: inherit
}

.g img {
    vertical-align: inherit
}

.g button, .g input[type=button], .g input[type=reset], .g input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

.g input[type=email], .g input[type=password], .g input[type=text] {
    font-size: inherit;
    padding: 0;
    margin: 0
}

.g button, .g input {
    line-height: normal
}

.g button, .g input, .g select, .g textarea {
    font-size: inherit;
    vertical-align: inherit;
    outline: none;
    padding: 0
}

.g label {
    font-size: 1em
}

.g mark {
    font-weight: inherit
}

.g svg {
    overflow: visible !important
}

.g .g_swiper * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

#header .OrderLinksBanner {
    display: none
}

.g_native body {
    padding-top: 0
}

.g_native #footer, .g_native #footer-navigation, .g_native #header {
    display: none
}

.g_native .g a[href="#"] {
    -webkit-transition: none !important;
    transition: none !important;
    cursor: default !important;
    pointer-events: none;
    text-decoration: inherit !important;
    color: inherit !important
}

html {
    overflow-x: hidden
}

.g * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.g button {
    border: 0;
    background: none;
    text-align: left;
    color: inherit
}

.g button, .g label, .g select {
    cursor: pointer
}

.g a {
    text-decoration: none
}

.g a[href^="tel:"] {
    white-space: nowrap
}

.g select {
    -moz-appearance: none;
    -webkit-appearance: none
}

.g a, .g button, .g img, .g input, .g label, .g select, .g textarea {
    -webkit-transition: .25s ease;
    transition: .25s ease
}

.g [contentEditable=true]:focus, .g [tabindex]:focus, .g a:focus, .g area:focus, .g button:focus, .g iframe:focus, .g input:focus, .g select:focus, .g textarea:focus {
    outline: none
}

.g .g_debugTableIE {
    position: relative;
    width: 100%;
    height: 100%
}

@font-face {
    font-family: Nespresso Icons;
    src: url(/wp-content/uploads/2021/03/nespresso-icons-webfont.woff) format("woff");
    font-style: normal;
    font-weight: 400
}

.g [class^=fn_] {
    font-family: Nespresso Icons !important;
    font-style: normal;
    font-weight: 400;
    position: relative;
    speak: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.g [class^=fn_][class*=Up]:before {
    -ms-transform: translate(-50%, -50%) rotate(-90deg) !important;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) !important;
    transform: translate(-50%, -50%) rotate(-90deg) !important;
    position: absolute
}

.g [class^=fn_][class*=Down]:before {
    -ms-transform: translate(-50%, -50%) rotate(90deg) !important;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) !important;
    transform: translate(-50%, -50%) rotate(90deg) !important;
    position: absolute
}

.g [class^=fn_][class*=Left]:before {
    -ms-transform: translate(-50%, -50%) rotate(180deg) !important;
    -webkit-transform: translate(-50%, -50%) rotate(180deg) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
    position: absolute
}

.g .fn_logo:before {
    content: "\E91A"
}

.g .fn_basket:before {
    content: "\E928"
}

.g .fn_persons:before {
    content: "\E916"
}

.g .fn_time:before {
    content: "\E937"
}

.g .fn_bean:before {
    content: "\E912"
}

.g .fn_addToCart:before {
    content: "\E91B"
}

.g .fn_menu:before {
    content: "\E912"
}

.g .fn_emptyCircle:before {
    content: "\E907"
}

.g .fn_angleDown:before, .g .fn_angleLeft:before, .g .fn_angleRight:before, .g .fn_angleUp:before {
    content: "\E901"
}

.g .fn_angleDownCircle:before, .g .fn_angleLeftCircle:before, .g .fn_angleRightCircle:before, .g .fn_angleUpCircle:before {
    content: "\E903"
}

.g .fn_chevronDown:before, .g .fn_chevronLeft:before, .g .fn_chevronRight:before, .g .fn_chevronUp:before {
    content: "\E932"
}

.g .fn_video:before {
    content: "\E914"
}

.g .fn_videoCircle:before {
    content: "\E933"
}

.g .fn_play:before {
    content: "\E924"
}

.g .fn_close:before {
    content: "\E905"
}

.g .fn_closeCircle:before {
    content: "\E906"
}

.g .fn_more:before {
    content: "\E908"
}

.g .fn_moreCircle:before {
    content: "\E909"
}

.g .fn_tick:before {
    content: "\E90B"
}

.g .fn_tickCircle:before {
    content: "\E90C"
}

.g .fn_angleLink:before {
    content: "\E932"
}

.g .fn_arrowLink:before {
    content: "\E915"
}

.g .fn_camera:before {
    content: "\E934"
}

.g .fn_shoot:before {
    content: "\E935"
}

.g .fn_upload:before {
    content: "\E918"
}

.g .fn_download:before {
    content: "\E936"
}

.g .fn_amp:before {
    content: "\E91C"
}

.g .fn_quotes:before {
    content: "\E91D"
}

.g .fn_reset:before {
    content: "\E91E"
}

.g .fn_minus:before {
    content: "\E923"
}

.g .fn_offAccessories:before {
    content: "\E938"
}

.g .fn_ristretto:before {
    content: "\E90E"
}

.g .fn_espresso:before {
    content: "\E902"
}

.g .fn_lungo:before {
    content: "\E90A"
}

.g .fn_americano:before {
    content: "\E900"
}

.g .fn_hotwater:before {
    content: "\E904"
}

.g .fn_ristrettoFilled:before {
    content: "\E91F"
}

.g .fn_espressoFilled:before {
    content: "\E920"
}

.g .fn_lungoFilled:before {
    content: "\E921"
}

.g .fn_americanoFilled:before {
    content: "\E925"
}

.g .fn_mugFilled:before {
    content: "\E922"
}

.g .fn_temp0:before {
    content: "\E90F"
}

.g .fn_temp1:before {
    content: "\E910"
}

.g .fn_temp2:before {
    content: "\E911"
}

.g .fn_temp3:before {
    content: "\E913"
}

.g .fn_email:before {
    content: "\E92F"
}

.g .fn_facebook:before {
    content: "\E92D"
}

.g .fn_twitter:before {
    content: "\E92C"
}

.g .fn_linkedin:before {
    content: "\E931"
}

.g .fn_googleplus:before {
    content: "\E92E"
}

.g .fn_youtube:before {
    content: "\E92A"
}

.g .fn_pinterest:before {
    content: "\E929"
}

.g .fn_instagram:before {
    content: "\E92B"
}

.g .fn_weibo:before {
    content: "\E926"
}

.g .fn_wechat:before {
    content: "\E927"
}

.g .fn_originalRistretto:before {
    content: "\E93B"
}

.g .fn_originalEspresso:before {
    content: "\E939"
}

.g .fn_originalLungo:before {
    content: "\E93A"
}

.g .fn_vertuoEspresso:before {
    content: "\E93E"
}

.g .fn_vertuoDoubleEspresso:before {
    content: "\E93D"
}

.g .fn_vertuoGranLungo:before {
    content: "\E93F"
}

.g .fn_vertuoMug:before {
    content: "\E940"
}

.g .fn_vertuoAlto:before {
    content: "\E93C"
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-Light.woff) format("woff");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-SemiBd.woff) format("woff");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Lucas;
    src: url(/wp-content/uploads/2021/03/NespressoLucas-XtraBd.woff) format("woff");
    font-style: normal;
    font-weight: 800
}

.g {
    font-size: 16px;
    font-family: Lucas, Helvetica, Arial, sans-serif;
    color: #fff;
    background: #000;
    overflow: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media screen and (min-width: 1920px) {
    .g {
        font-size: calc(6.4px + .5vw)
    }
}

@media screen and (max-width: 1279px) {
    .g {
        font-size: calc(9.6px + .5vw)
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .g_responsive .g {
        font-size: calc(6.51852px + .74074vw)
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .g {
        font-size: 4.26667vw
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .g {
        font-size: 2.3988vw
    }
}

.g .v_brand {
    font-weight: 800
}

.g .v_brand em {
    font-weight: 500
}

.g .v_brand em, .g em .v_brand, .g em .v_brand em, .g i .v_brand, .g i .v_brand em {
    font-style: normal
}

.g .g_visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    text-transform: none
}

.g input[type=checkbox], .g input[type=radio] {
    width: 30px;
    margin: 0 0 0 -30px;
    opacity: 0;
    float: left;
    -ms-transform: translate(-10000px);
    -webkit-transform: translate(-10000px);
    transform: translate(-10000px)
}

.g .g_nav {
    z-index: 3 !important
}

.g .g_tabsAnchor {
    z-index: 2
}

.g .g_tabsAnchor ul {
    width: 66%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto
}

.g .g_tabsAnchor ul.g_001Act li:first-child .g_anchor:after, .g .g_tabsAnchor ul.g_002Act li:nth-child(2) .g_anchor:after, .g .g_tabsAnchor ul.g_003Act li:nth-child(3) .g_anchor:after, .g .g_tabsAnchor ul.g_004Act li:nth-child(4) .g_anchor:after, .g .g_tabsAnchor ul.g_005Act li:nth-child(5) .g_anchor:after {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible
}

.g .g_tabsAnchor ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word
}

.g .g_tabsAnchor ul li .g_anchor {
    position: relative;
    margin-bottom: 0;
    color: #8f7247;
    font-size: 1em;
    letter-spacing: .0625em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: .5em 3em;
    min-height: 3.75em
}

.g .g_tabsAnchor ul li .g_anchor:after {
    content: "";
    height: 2px;
    width: 1%;
    bottom: 0;
    background: #8f7247;
    position: absolute;
    left: 50%;
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: .15s ease-in .3s;
    transition: .15s ease-in .3s;
    opacity: 0;
    visibility: hidden
}

.g .g_tabsAnchor ul li .g_anchor:hover:after {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible
}

.g .g_sectionRange2 > .g_restrict {
    width: 100vw;
    padding: 0;
    max-width: none;
    background-color: transparent
}

.g .g_sectionRange2 > .g_restrict > .g_content {
    padding: 0;
    height: auto
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles {
    background-color: transparent
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border: none;
    background: transparent;
    height: auto;
    padding-top: 182px;
    margin-top: -182px
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper {
    background-color: transparent;
    display: block;
    height: 44em
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper .g_bg {
    background-size: auto 100%
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper .g_tile {
    padding: 0
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li#espresso {
    color: #000
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li#espresso .g_description .g_wysiwyg {
    font-weight: 500
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li#espresso .g_roundButton {
    background-color: #000
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li#espresso .g_feature svg path {
    fill: #000
}

.g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_description > p {
    display: none
}

.g .g_sectionRange2 .g_stickyMe {
    background: #000 !important;
    z-index: 2
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .g .g_stickyMe {
        margin-top: -80px !important
    }
}

@media screen and (max-width: 767px) {
    .g.g_originalCoffeeHub .g_coffeeRange .g_imageContainer {
        margin-bottom: 1em
    }

    .g.g_originalCoffeeHub .g_coffeeRange .g_imageContainer img {
        width: 75%
    }

    .g.g_originalCoffeeHub .g_coffeeRange .g_ristretto .g_imageContainer {
        margin-top: -6em
    }

    .g.g_originalCoffeeHub .g_coffeeRange .g_espresso .g_imageContainer {
        margin-top: -4.5em
    }

    .g.g_originalCoffeeHub .g_coffeeRange .g_lungo .g_imageContainer {
        margin-top: -3em
    }

    .g .g_sectionRange2 > .g_restrict {
        width: 100vw;
        padding: 0 !important;
        max-width: none;
        background-color: transparent
    }

    .g .g_sectionRange2 > .g_restrict > .g_content {
        padding: 0;
        height: auto
    }

    .g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper .g_bg {
        background-size: auto 122%
    }

    .g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper .g_tile .g_products {
        -ms-transform: scale(.75);
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }

    .g .g_sectionRange2 > .g_restrict > .g_content > .g_text > div .g_tiles > li > .g_tilesWrapper .g_tile .g_description {
        /*padding: 4em 3em 2em*/
    }

    .g .g_tiles .g_tile .g_products {
        display: inline-table;
        table-layout: fixed;
        position: relative;
        left: -10%;
    }
}

.g_edge .g .g_tiles .g_tile .g_feature svg, .g_ie .g .g_tiles .g_tile .g_feature svg {
    max-height: 50px;
    max-width: 100px
}

.g_edge .g .g_tiles .g_tile > li, .g_ie .g .g_tiles .g_tile > li {
    padding-top: 70px;
    margin-top: -70px
}

/*# sourceMappingURL=OriginalCoffeeHub.css.map*/