<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.select2-results__options li {
  color: #333 !important;
}

.select2-results__options li.select2-results__option--highlighted {
  color: #fff !important;
}</style>
<!-- end Simple Custom CSS and JS -->
