.slideitem{
	height:calc(120vh - 426px);background-size: cover;    background-repeat: no-repeat;
    background-position: 50%;
}
.sgv{
	text-align: center;
	padding:40px 0;
}
.sgv svg{
	max-width: 50.875em;
	overflow: visible
}
.g_btnaddtocart a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.g_text{
	    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: .05556em;
    font-weight: 300;
	width: 706px;
	text-align:center;
	margin:auto;
}
#sliderbanner .owl-dots{
	margin-top: -30px;
    position: relative;
    text-align: center;
}
#sliderbanner button.owl-dot
{
	color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid;
    display: inline-block;
    width: 12px;
    height: 12px;
}
#sliderbanner button.owl-dot.active{
	background:#fff;
}
.g_content{
	width: 900px;
    margin: 2em auto;
	padding:6.25em 0
}
.bgt{
	    
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
	    overflow: hidden;
		background-color: #EAEAEA;
}
.g_textc{
	width:100%;
	    padding-top: 50px;
}
.g_textc:after{
	display:block;
	content:'';
	clear:both;
}
.item{
	width: 31%;
    height: 39.5em;
    float: left;
    margin: 10px ;
	    position: relative;
		    box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,.25);
    border-radius: 4px;
}
.g_bg{
	width: 100%;
    height: 100%;
    position: absolute;
	    border-radius: 4px;
    z-index: 9;
}
.g_data{
	width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
	padding: 3em 0
}
.g_header {
    position: absolute;
    left: 1em;
    right: 1em;
    margin: 0 auto;
}
.g_h3{
	text-align: center;
    font-family: Lucas,Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    line-height: 1.33333;
    letter-spacing: .16667em;
    font-weight: 800;
    text-transform: uppercase;
}
.g_desc {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .07143em;
    font-weight: 400;
	text-align: center;
	opacity:0;
	transition: 1s .25s;
}
.g_detail {
    position: absolute;
    top: 12em;
    left: 0;
    right: 0;
    height: 26.5em;
}
.g_img{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 15.25em;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
	transition: 1s .25s;
    pointer-events: none;
}
.g_intensity {
    position: absolute;
    left: 0;
    right: 0;
	transform: translateY(180px);
    opacity: 1;
}
.g_h5_nomargin {
    font-family: Lucas,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
	    margin: 0 auto;
		    text-align: center;
}
.ProductListElement__intensity{	
	  text-align: center;
}
.ProductListElement__intensity-block{
	border-color:transparent;
	width: 7px;
    height: 7px;
    margin-right: 2px;
    border: 1px solid #656565;
	  text-align: center;
	  display: inline-block;
}
.ProductListElement__intensity-block--filled {
    background-color: #fff!important;	
}
.g_button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 3em;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #fff;
    border-radius: 5px;
    opacity: .5;
}
.g_button i {
    position: absolute;
       top: 31%;
    left: 31%;
    transform: translate(-50%,-50%);
    transform: scale(1.5);
}
.g_card {
	opacity:0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.5em;
    height: 16em;
    width: 19em;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 30px 30px 30px 0 rgba(0,0,0,.3);
    margin: 0 auto;
    color: #000;
    padding: 3.75em 0 1em;
    font-size: .875em!important;
	transition: 1s .25s;
}
.g_txt_S {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .07143em;
    font-weight: 400;
	margin-bottom: 1.375em;
	text-align:center
}
.g_addToCart {
    min-height: 4.5em;
    position: relative;
}
.g_addToCart .g_productPrice {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: .07143em;
    color: #3d8705;
	text-align:center;
}
.g_addToCart .g_addToCartCustom {
    position: relative;
    margin-top: .5em;
}
.g_link {
    padding: 1.125em 0 1em;
    color: #b3b3b3;
    font-size: .25em;
    line-height: 1.em;
    margin: 0;
	text-align:center;
	display: block;
}
.g_btnaddtocart {
    background: #3d8705;
    color: #fff;
    padding: 10px;
    margin: auto;	
    text-align: center;
    width: 100px;
    position: relative;
	border-radius:4px;
}
.g_addToCart i:first-child{
	left: 5px;
    position: absolute;
}
.g_addToCart i:last-child{
	right: 5px;
    position: absolute;
}
.item:hover .g_intensity,.item:hover .g_button{
	opacity:0;
}
.item:hover .g_desc,.item:hover .g_card{
	opacity:1;
}
.item:hover .g_img{
	width:11.25em;
}
.items3{
	    position: relative;
    padding: 100px 0;
}
.g_cup{
	position: absolute;
    right: 15%;
	    top: -50px;
}
.g_h2{
   font-family: Lucas,Helvetica,Arial,sans-serif;
    font-size: 2.85em;
    line-height: 1.33333;
    letter-spacing: .22222em;
    font-weight: 300;
    text-transform: uppercase;
    width: 51%;
    text-align: center;
    margin: auto;
    color: #000;
	position: relative;
}
.itemcard {
    background: #fff;
}
.ic_off {
    background: radial-gradient(circle,#ab9066 0,#927640 50%,#927640 100%);
    margin: 0 10px;
    border-radius: 0px 0px 4px 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}
.v_brand {
    font-weight: 600;
}
.ic_name {
    color: #876c40;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 20px;
	    text-align: center;
}
.ic_img {
    height: 13.25em;
    border: 1px solid;
    width: calc(100% - 205px);
}
.ic_body {
    padding: 0 10px;
	    display: flex;
}
.ic_img>a {
    display: block;
    width: 100%;
    height: 100%;
	    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.ic_right {
	 width: calc(100% - 215px);
}
.ic_desc {
    color: #000;
    font-size: 1.1em;
}
.g_from span {
    position: relative;
    display: inline-block;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 21px;
    margin-right: 5px;
}
.g_from span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: rotate(-20deg);
    background-color: #b3b3b3;
}
.g_from strong {
    margin-right: 5px;
	color: #3d8705;
	font-weight: 600;
}
.ic_button .g_btnaddtocart {
    margin: initial;
    width: 170px;
}
#sl2 .owl-dots{
    position: relative;
    text-align: center;
}
#sl2 button.owl-dot
{
	color: #000;
	background:#fff;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid;
    display: inline-block;
    width: 12px;
    height: 12px;
}
#sl2 button.owl-dot.active{
	background:#000;
}
#sl2 .owl-stage{display: flex;}
#sl2  .owl-dots .owl-dot span{
	display:none;
}
.item2 {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.itemcard {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	    position: relative;
}
.ic_action {
    position: absolute;
    bottom: 0;
}
.video{
	text-align: center;
    position: relative;
    width: 100%;
    height:65em;
}
.vd_img{
	z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 120em auto;
}
.vd_content {
    position: relative;
	padding:365px 0
}
.vd_h3{
	    font-family: Lucas,Helvetica,Arial,sans-serif;
    font-size: 2.4em;
    line-height: 1.5;
    letter-spacing: .22222em;
    font-weight: 300;
	margin:auto;
    text-transform: uppercase;
	width:40%;
}
.vd_action{
	
}
.vd_action a{ 
	color:#fff;
	font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: .125em;
    font-weight: 800;
    text-transform: uppercase;
	cursor:pointer
}
.items5{
	padding:100px 10px;
}
.items5 p {
    width: 52%;
    margin: auto;
    color: #000;
    font-size: 1.2em;
    padding: 25px;
    line-height: 1.5em;
    text-align: center;
}
.items5 a{
	font-weight: 600!important;
    text-decoration: none;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    position: relative;
    margin: 0;
    color: #8f7247;
	    font-size: 1.3em;
}
.bsl{
	position:relative;
}
.sl3_img{
    width: 483px;
    height: 483px;
    background-repeat: no-repeat;
    background-size: contain;
}
.sl3_text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.sl3_text span {
    display: inline-block;
    background: #000;
    border-radius: 28px;
    padding: 5px 10px;
    font-size: 1.2em;
}

.lastb{
	text-align: center;
    position: relative;
    width: 100%;
    height:45em;
}
.l_img{
	z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 110% auto;
}
.l_content {
    position: relative;
	padding:150px 0
}
.l_h3{
	    font-family: Lucas,Helvetica,Arial,sans-serif;
    font-size: 2.4em;
    line-height: 1.5;
    letter-spacing: .22222em;
    font-weight: 300;
	margin:auto;
    text-transform: uppercase;
	width:40%;
}
.l_action{
	
}
.l_action a{ 
	color:#fff;
	font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: .125em;
    font-weight: 800;
    text-transform: uppercase;
	cursor:pointer
}
.l_c{
	width: 52%;
    margin: auto;
    color: #fff;
    font-size: 1.5em;
    padding: 25px;
    line-height: 1.5em;
    text-align: center;
}
.l_action a{
	font-weight: 600!important;
    text-decoration: none;
    text-transform: none;
    text-decoration-skip-ink: auto;
    position: relative;
    margin: 0;
    color: #8f7247;
	    font-size: 1.3em;
}
.fm{
	
}
.formcode {   
    color: #efef2a;
    padding: 50px;
    width: 50%;
    margin: auto;
	    text-align: center;
}
.inp {
    display: flex;
	    margin: 25px;
}
.howto h3{
	color: #876c40;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}
.howto ul{
	color: #000;
    text-align: left;
    padding: 0;
    margin: 0 0 0 40px;
    list-style: decimal;
    font-size: 1.3em;
}
.howto ul li{
	
}
.formcode p {
    font-family: Lucas,Helvetica,Arial,sans-serif;
    font-size: 2.85em;
    line-height: 1.33333;
    letter-spacing: .22222em;
    font-weight: 300;
    text-transform: uppercase;
    width: 51%;
    text-align: center;
    margin: auto;
    color: #000;
    position: relative;
}
input.inputcode {
   border: 1px solid transparent;
    border-radius: 31px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    width: 80%;
    background: #000;
    display: block;
	height:40px;
}
a.submitbtn {
    display: block;
    width: 120px;
    padding: 5px 15px;
    border-radius: 34px;
    color: #876c40;
    font-size: 1.5em;
	cursor:pointer;
}
.ercode{
	font-size:1.5em;
	    color: red;
}
.sccode{
	    font-size: 1.5em;
    color: #876c40;
    overflow: hidden;
    margin-top: 25px;
    font-weight: bold;
}
.gf_img{
	    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
div#sl3 .owl-prev, div#sl3 .owl-next {
       padding: 5px 15px !important;
    background: #000;
    border-radius: 0;
    position: absolute;    
}
div#sl3 .owl-prev i, div#sl3 .owl-next i
{
	font-size: 3em;
    margin-top: -3px;
}
div#sl3 .owl-prev{
	top: 45%;
    left: 20%;
}
div#sl3 .owl-next{
	top: 45%;
    right: 20%;
}
div#sl3 .owl-next i{
	margin-right: -3px;
}
div#sl3 .owl-prev i{
	margin-left: -3px;
}
#sl3{
	margin-bottom: 60px;
}
#termcondition{
	display:none;
	position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
	background: #0f0e0ebd;
	height:100%;
}
.ter_content{
	background: url(../img/marble-coffees_L.jpg);
    margin: 5% auto;
    color: #000;
    width: 90%;
    position: relative;
    padding: 20px;
}
.ter_title{
	text-align:center;
}
.ter_text{
	font-size: 1.2em;
    padding: 25px;
    line-height: 1.5em;
	overflow: auto;
    height: 100%;
}
p.g_from {
    margin-bottom: 0;
}
#termshow{
	cursor:pointer;
}
#closeterm{
	display: inline-block;
    background: #000;
    padding: 10px 15px;
	border:1px solid #000;
    color: #fff;
    right: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
#closeterm:hover{
	 background: #fff;
	 border:1px solid #000;
	 color: #000;
}
.msgcs {
    padding-top: 20px;
	text-align: left;
}
.gf_img1 {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -10px;
}
@media(max-width:786px){
	.g_text{
		width: 100%;
		padding: 10px;
	}
	.g_content{
		width: 100%;
		padding: 0;
	}
	.item{
		width: 95%;
	}
	.g_h2{
		width: 100%;
		font-size: 2em;
	}
	.g_cup{
		top: -15px;
		right: 0px;
		width: 70%;
	}
	.items3{
		padding: 140px 0 50px;
	}
	.ic_right {
		width: calc(100% - 90px);
	}
	.formcode{
		padding: 20px;
		width: 100%;
	}
	.vd_h3{
		width:100%;
	}
	.video{
		height:35em;
	}
	.vd_content{
		padding:100px 0
	}
	.items5{
		padding:50px 10px;
	}
	.items5 p{
		width:100%;
	}
	.sl3_img{
		height:375px;
		width:375px;
	}
	.lastb{
		    height: 27em;
	}
	.l_img{
		background-size: cover;
	}
	.l_content{
		padding: 10px;
	}
	.l_h3,.l_c{
		width:100%;
	}
	.l_c{
		padding:0;
		font-size: 1.3em;
	}
	.formcode p
	{
		width:100%;
		font-size: 1.8em;
		    margin: 20px 0;
	}
	.msgcs{
		padding-left:100px;
		padding-top: 5px;
	} 
	div#sl3 .owl-prev{
		top: 45%;
		left: 5%;
	}
	div#sl3 .owl-next{
		top: 45%;
		right: 5%;
	}
	.inp{
		display:block;
	}
	input.inputcode{
		width:100%
	}
	a.submitbtn{
		    margin: 15px auto 0;
	}
	.howto h3{
		margin:0;
	}
	.sccode{
		    text-align: left;
	}
	.ic_body{
		height: 15em;
	}
}